docker/n8n/backup/workflows/aJtBgxgp1tGDJl6E.json
{"createdAt":"2025-05-22T15:09:24.928Z","updatedAt":"2025-06-10T17:30:38.000Z","id":"aJtBgxgp1tGDJl6E","name":"YouTube Video Processor","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"youtube-content-pipeline","responseMode":"lastNode","options":{}},"id":"f8bb794e-7840-4539-8c8b-9a4d5239814a","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[40,200],"webhookId":"youtube-content-pipeline"},{"parameters":{"content":"## YouTube Content Pipeline\n\n**Trigger:** Webhook POST\n**Expected Payload:**\n```json\n{\n  \"youtube_url\": \"https://youtube.com/watch?v=...\",\n  \"notes\": \"Optional notes\",\n  \"source\": \"telegram/notion\"\n}\n```\n\n**Flow:**\n1. Download & transcribe video\n2. Store transcript in Google Drive\n3. Extract entities & generate script\n4. Update databases","height":520,"width":320},"id":"562ea5e3-fa59-423d-ab45-c2815fe564d9","name":"Documentation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[40,-600]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.youtube_url }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"},"id":"994de883-3d59-46e6-846e-3188e51e47b9"},{"leftValue":"={{ $json.youtube_url }}","rightValue":"youtube.com/watch","operator":{"type":"string","operation":"contains"},"id":"7d8d80b3-6874-407d-8f8c-9d19aeb5f61b"}],"combinator":"and"},"options":{}},"id":"c9614f8e-56ae-4fec-9b8e-b788ff012451","name":"Validate Input","type":"n8n-nodes-base.if","typeVersion":2,"position":[260,200]},{"parameters":{"method":"POST","url":"https://nca.everydaycreator.org/v1/BETA/media/download","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"media_url\": \"{{ $('Webhook Trigger').item.json.youtube_url }}\"\n}","options":{"redirect":{"redirect":{}},"timeout":300000}},"id":"2a4f7c85-b892-4123-862e-2dad03d34c3a","name":"Download Video","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,60],"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"rBNd35RzIYCBG333","name":"NCA Toolkit"}}},{"parameters":{"method":"POST","url":"https://nca.everydaycreator.org/v1/media/transcribe","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"media_url","value":"={{ $json.response.media.media_url }}"},{"name":"include_text","value":true},{"name":"response_type","value":"direct"}]},"options":{"timeout":300000}},"id":"3e0ccda1-864c-456f-9176-1ad64a75cb7d","name":"Transcribe Video","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1580,100],"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"rBNd35RzIYCBG333","name":"NCA Toolkit"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.response.text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"f5cf1983-edbe-4414-bc26-7a69c755b247","name":"Check Transcript","type":"n8n-nodes-base.if","typeVersion":2,"position":[1800,100]},{"parameters":{"name":"={{ $('Webhook Trigger').item.json.youtube_url.split('v=')[1] }}_transcript.txt","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"id":"0aa5da13-2a4f-441e-9bd0-0e7f244c1457","name":"Upload Transcript to Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2620,-200]},{"parameters":{"mode":"raw","jsonOutput":"={{ \n{\n  \"transcript\": $json.response.text,\n  \"filename\": $('Webhook Trigger').item.json.youtube_url.split('v=')[1] + '_transcript.txt'\n}\n}}","options":{"dotNotation":false}},"id":"87d0ae64-2d45-40e8-aab9-2ab295aafac9","name":"Prepare Transcript","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2100,-200]},{"parameters":{"mode":"raw","jsonOutput":"={{ \n{\n  \"id\": $json.id,\n  \"mimeType\": \"text/plain\",\n  \"name\": $json.name,\n  \"webViewLink\": $json.webViewLink\n}\n}}","options":{"dotNotation":false}},"id":"d52b501b-0787-4434-8f31-7c6fcd4e0110","name":"Format for Everyday Brain","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2920,-300]},{"parameters":{"workflowId":"cS3MXDCCjxjjIIXF","options":{}},"id":"3a29e2f0-f815-4e7e-8a2e-95ae2ebb24c1","name":"Trigger Everyday Brain","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[3220,-300]},{"parameters":{"promptType":"define","text":"=Extract all named entities (people) from this transcript. For each person mentioned, provide:\n\n1. Name (full name if available)\n2. Brief bio/context (1-2 sentences about who they are based on the transcript)\n3. Approximate timestamp of first mention\n\nTranscript:\n{{ $('Transcribe Video').item.json.response.text }}\n\nReturn as JSON array:\n[\n  {\n    \"name\": \"Person Name\",\n    \"bio\": \"Brief description\",\n    \"timestamp\": \"00:00\"\n  }\n]"},"id":"2ad1706d-f018-441b-aa83-f0f02550877d","name":"Extract Named Entities","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[1960,560]},{"parameters":{},"id":"7210e469-0054-45c0-a304-8eddaf7d252a","name":"OpenAI Model (Entities)","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1080,780]},{"parameters":{"promptType":"define","text":"=Based on this transcript, create a compelling 60-second face-to-camera script that:\n\n1. Starts with a strong hook (5-10 seconds)\n2. Delivers the main insight/value (40-45 seconds)\n3. Ends with a clear CTA (5-10 seconds)\n\nUse ONLY information from the transcript. Make it engaging, concise, and valuable.\n\nTranscript:\n{{ $('Transcribe Video').item.json.response.text }}\n\nNotes from user:\n{{ $('Webhook Trigger').item.json.notes || 'No additional notes' }}\n\nReturn as JSON:\n{\n  \"hook\": \"...\",\n  \"main_content\": \"...\",\n  \"cta\": \"...\",\n  \"full_script\": \"...\"\n}"},"id":"f1e993f1-195f-40ad-8739-2577ae05fa28","name":"Generate 60s Script","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[2840,400]},{"parameters":{},"id":"26206531-9e40-4b0a-86ac-972af36885ef","name":"OpenAI Model (Script)","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[2000,740]},{"parameters":{"mode":"raw","jsonOutput":"={{ JSON.parse($json.text) }}","options":{"dotNotation":false}},"id":"5e1604af-d1c2-4f61-af88-3d12ed11ea83","name":"Parse Entities","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2400,200]},{"parameters":{"mode":"raw","jsonOutput":"={{ JSON.parse($json.text) }}","options":{"dotNotation":false}},"id":"c0c78642-6c7b-4e90-a4c2-e01f48ec4793","name":"Parse Script","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3220,400]},{"parameters":{"fieldToSplitOut":"=$json","include":"selectedOtherFields","fieldsToInclude":{"fields":[{"fieldName":"youtube_url","fieldValue":"={{ $('Webhook Trigger').item.json.youtube_url }}"},{"fieldName":"pcid","fieldValue":"={{ $('Webhook Trigger').item.json.youtube_url.split('v=')[1] }}"}]},"options":{}},"id":"9e0a5dc2-003d-4187-938a-d68ccd6ee45b","name":"Split Entities","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2620,200]},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"people-database-id","mode":"id"},"filterType":"manual","filters":{"conditions":[{"key":"Name","condition":"equals"}]},"options":{}},"id":"3b6f4a7e-2898-4770-b028-37cb33d176cf","name":"Check Person Exists","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2920,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.results.length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"2316a478-0795-4dc2-8631-256790448c72","name":"Person Exists?","type":"n8n-nodes-base.if","typeVersion":2,"position":[3220,200]},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"people-database-id","mode":"id"},"options":{}},"id":"15edf998-8c5f-43fa-ad0b-13cd3b410f14","name":"Create Person in Notion","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[3440,300]},{"parameters":{"method":"POST","url":"https://your-supabase-url.com/rest/v1/people","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $credentials.supabaseApiKey }}"},{"name":"Authorization","value":"Bearer {{ $credentials.supabaseApiKey }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"bodyParameters":{"parameters":[{"value":"={{ JSON.stringify({\n  name: $json.name,\n  bio: $json.bio,\n  first_seen: new Date().toISOString(),\n  youtube_pcid: $json.pcid,\n  notion_id: $json.id || null\n}) }}"}]},"options":{}},"id":"814aabaf-23fd-45b0-a737-6635aa19f704","name":"Create Person in Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3660,300]},{"parameters":{"assignments":{"assignments":[{"id":"pcid","name":"pcid","value":"={{ $('Webhook Trigger').item.json.youtube_url.split('v=')[1] }}","type":"string"},{"id":"video_title","name":"video_title","value":"={{ $('Download Video').item.json.response.media.title }}","type":"string"},{"id":"transcript_url","name":"transcript_url","value":"={{ $('Upload Transcript to Drive').item.json.webViewLink }}","type":"string"},{"id":"notes","name":"notes","value":"={{ $('Webhook Trigger').item.json.notes || '' }}","type":"string"},{"id":"source","name":"source","value":"={{ $('Webhook Trigger').item.json.source }}","type":"string"},{"id":"processed_at","name":"processed_at","value":"={{ new Date().toISOString() }}","type":"string"}]},"options":{}},"id":"62992987-2347-49b7-9a75-17f07fe8e22d","name":"Prepare Video Record","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2920,-100]},{"parameters":{"operation":"append","base":{"__rl":true,"mode":"list","value":""},"table":{"__rl":true,"mode":"list","value":""}},"id":"33393727-ecdf-40d3-94d0-a26bc6699803","name":"Create Video Record","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[3220,-100]},{"parameters":{"assignments":{"assignments":[{"id":"pcid","name":"pcid","value":"={{ $('Webhook Trigger').item.json.youtube_url.split('v=')[1] }}","type":"string"},{"id":"video_id","name":"video_id","value":"={{ $json.id }}","type":"string"},{"id":"script","name":"script","value":"={{ $('Parse Script').item.json.full_script }}","type":"string"},{"id":"hook","name":"hook","value":"={{ $('Parse Script').item.json.hook }}","type":"string"},{"id":"main_content","name":"main_content","value":"={{ $('Parse Script').item.json.main_content }}","type":"string"},{"id":"cta","name":"cta","value":"={{ $('Parse Script').item.json.cta }}","type":"string"},{"id":"created_at","name":"created_at","value":"={{ new Date().toISOString() }}","type":"string"}]},"options":{}},"id":"e0630ad1-fb8e-4806-be05-56f86f990797","name":"Prepare Script Record","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3440,100]},{"parameters":{"operation":"append","base":{"__rl":true,"mode":"list","value":""},"table":{"__rl":true,"mode":"list","value":""}},"id":"430b115a-bab3-43b9-99dc-dc104dbc8874","name":"Create Script Record","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[3660,100]},{"parameters":{"mode":"raw","jsonOutput":"={{ \n{\n  \"success\": true,\n  \"message\": \"YouTube video processed successfully\",\n  \"data\": {\n    \"pcid\": $('Webhook Trigger').item.json.youtube_url.split('v=')[1],\n    \"transcript_url\": $('Upload Transcript to Drive').item.json.webViewLink,\n    \"people_extracted\": $('Parse Entities').item.json.length,\n    \"script_generated\": true,\n    \"video_record_id\": $('Create Video Record').item.json.id,\n    \"script_record_id\": $('Create Script Record').item.json.id\n  }\n}\n}}","options":{"dotNotation":false}},"id":"a69b0530-413f-4cf4-958c-6556ec73496b","name":"Success Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3880,100]},{"parameters":{"content":"## Error Handling\n\nEach critical step has:\n- Retry logic (3 attempts)\n- 5 second wait between retries\n- Validation checks\n- Error logging to Airtable","height":280,"width":250},"id":"cbf6675c-b1db-4a10-b6c4-be0202c6acc7","name":"Error Handling","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[440,-600]},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appshwJ3YOvcx4occ","mode":"id"},"table":{"__rl":true,"value":"tblX3qbA5SO1rqR3u","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Code":0,"Run Time":0,"Queue Time":0,"Total Time":0,"PID":0,"Queue Length":0,"Queue ID":0},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Log ID","displayName":"Log ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Action Type","displayName":"Action Type","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Endpoint","displayName":"Endpoint","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Code","displayName":"Code","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Response","displayName":"Response","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Run Time","displayName":"Run Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Queue Time","displayName":"Queue Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Total Time","displayName":"Total Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"PID","displayName":"PID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Queue Length","displayName":"Queue Length","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Queue ID","displayName":"Queue ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Job ID","displayName":"Job ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"221a5a28-960a-43e4-9a98-688db4a25c85","name":"Log Invalid URL Error","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[1360,300],"credentials":{"airtableTokenApi":{"id":"zf2sMwV8oySLxYta","name":"Airtable Personal Access Token account"}}},{"parameters":{"mode":"raw","jsonOutput":"={{ \n{\n  \"success\": false,\n  \"error\": \"Invalid YouTube URL provided\",\n  \"input\": $json\n}\n}}","options":{"dotNotation":false}},"id":"27835938-9825-4973-a2fd-854ceaf65b7f","name":"Error Response (Invalid)","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1580,300]},{"parameters":{"operation":"append","base":{"__rl":true,"mode":"list","value":""},"table":{"__rl":true,"mode":"list","value":""}},"id":"0d7443a7-8490-4c5a-b23f-1b44048e4f11","name":"Log Transcript Error","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[2100,0]},{"parameters":{"mode":"raw","jsonOutput":"={{ \n{\n  \"success\": false,\n  \"error\": \"Failed to transcribe video - empty result\",\n  \"youtube_url\": $('Webhook Trigger').item.json.youtube_url\n}\n}}","options":{"dotNotation":false}},"id":"93cc36ee-e575-4229-a510-d2810f0e153b","name":"Error Response (Transcript)","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2400,0]},{"parameters":{"content":"## Authentication Setup\n\n**Required Credentials:**\n1. NCA Toolkit API Key\n2. Google Drive OAuth2\n3. OpenAI API Key\n4. Notion API Key\n5. Supabase API Key\n6. Airtable API Key\n\n**Placeholder URLs:**\n- NCA Toolkit: `https://your-nca-toolkit-url.com`\n- Supabase: `https://your-project.supabase.co`","height":250,"width":300},"id":"8db2d120-a9b5-47e5-94fb-b6976d2770f3","name":"Authentication Setup","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[740,-600]},{"parameters":{"jsCode":"// Convert text to binary for Google Drive upload\nconst Buffer = require('buffer').Buffer;\nconst text = $input.first().json.transcript;\nconst buffer = Buffer.from(text, 'utf8');\n\nreturn [{\n  json: $input.first().json,\n  binary: {\n    transcript_file: {\n      data: buffer.toString('base64'),\n      mimeType: 'text/plain',\n      fileName: $input.first().json.filename\n    }\n  }\n}];"},"id":"eb9f2874-78bd-405c-b39a-cf9d81f01aa6","name":"Convert to Binary","type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,-200]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appshwJ3YOvcx4occ","mode":"id"},"table":{"__rl":true,"value":"tblA6BiXc1NXmxO9y","mode":"id"},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[640,60],"id":"e824752e-8f96-412d-9e0e-fa4954aaed02","name":"Airtable","credentials":{"airtableTokenApi":{"id":"zf2sMwV8oySLxYta","name":"Airtable Personal Access Token account"}}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"Airtable","type":"main","index":0}],[{"node":"Log Invalid URL Error","type":"main","index":0}]]},"Download Video":{"main":[[{"node":"Transcribe Video","type":"main","index":0}]]},"Transcribe Video":{"main":[[{"node":"Check Transcript","type":"main","index":0}]]},"Check Transcript":{"main":[[{"node":"Prepare Transcript","type":"main","index":0},{"node":"Extract Named Entities","type":"main","index":0},{"node":"Generate 60s Script","type":"main","index":0}],[{"node":"Log Transcript Error","type":"main","index":0}]]},"Prepare Transcript":{"main":[[{"node":"Convert to Binary","type":"main","index":0}]]},"Convert to Binary":{"main":[[{"node":"Upload Transcript to Drive","type":"main","index":0}]]},"Upload Transcript to Drive":{"main":[[{"node":"Format for Everyday Brain","type":"main","index":0},{"node":"Prepare Video Record","type":"main","index":0}]]},"Format for Everyday Brain":{"main":[[{"node":"Trigger Everyday Brain","type":"main","index":0}]]},"Extract Named Entities":{"main":[[{"node":"Parse Entities","type":"main","index":0}]]},"Generate 60s Script":{"main":[[{"node":"Parse Script","type":"main","index":0}]]},"Parse Entities":{"main":[[{"node":"Split Entities","type":"main","index":0}]]},"Split Entities":{"main":[[{"node":"Check Person Exists","type":"main","index":0}]]},"Check Person Exists":{"main":[[{"node":"Person Exists?","type":"main","index":0}]]},"Person Exists?":{"main":[[{"node":"Create Person in Notion","type":"main","index":0}]]},"Create Person in Notion":{"main":[[{"node":"Create Person in Supabase","type":"main","index":0}]]},"Prepare Video Record":{"main":[[{"node":"Create Video Record","type":"main","index":0}]]},"Create Video Record":{"main":[[{"node":"Prepare Script Record","type":"main","index":0}]]},"Parse Script":{"main":[[{"node":"Prepare Script Record","type":"main","index":0}]]},"Prepare Script Record":{"main":[[{"node":"Create Script Record","type":"main","index":0}]]},"Create Script Record":{"main":[[{"node":"Success Response","type":"main","index":0}]]},"Log Invalid URL Error":{"main":[[{"node":"Error Response (Invalid)","type":"main","index":0}]]},"Log Transcript Error":{"main":[[{"node":"Error Response (Transcript)","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"Download Video","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook Trigger":[{"json":{"youtube_url":"https://www.youtube.com/watch?v=NjNcCKiuGWI","notes":"I want to know more about the Claude Whistle blower feature that automatically alerts authorities. For each of the people they mention here by first and last name, do some general research on them.  Mainly career and background in AI.","source":"telegram"}}]},"versionId":"5f66764e-23e7-4dd5-9f25-6c0ab735b756","triggerCount":0,"tags":[{"createdAt":"2025-05-30T16:38:26.748Z","updatedAt":"2025-05-30T16:38:26.748Z","id":"o3iKWca4B0ctoO0u","name":"youtube"},{"createdAt":"2025-05-30T16:38:26.753Z","updatedAt":"2025-05-30T16:38:26.753Z","id":"oBzrrperyisFcLia","name":"content-pipeline"}]}