docker/n8n/backup/workflows/cS3MXDCCjxjjIIXF.json
{"createdAt":"2025-05-30T15:19:45.617Z","updatedAt":"2025-05-30T15:20:33.000Z","id":"cS3MXDCCjxjjIIXF","name":"[ME] Everyday Brain","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"5f08a36b-8ee2-41a2-9c67-5f9c8222427e","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[180,1480],"executeOnce":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1iLcA4aE4rOe87BNXhiArRaHkG9dfzJqw","mode":"list","cachedResultName":"Neon","cachedResultUrl":"https://drive.google.com/drive/folders/1iLcA4aE4rOe87BNXhiArRaHkG9dfzJqw"},"event":"fileCreated","options":{}},"id":"9870d2f1-89e6-4c27-bdec-68f6c401d5cd","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-660,1340]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1iLcA4aE4rOe87BNXhiArRaHkG9dfzJqw","mode":"list","cachedResultName":"Neon","cachedResultUrl":"https://drive.google.com/drive/folders/1iLcA4aE4rOe87BNXhiArRaHkG9dfzJqw"},"event":"fileUpdated","options":{}},"id":"6f1fe688-7da9-4516-ab60-501969387711","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-660,1500]},{"parameters":{"operation":"text","options":{}},"id":"5c04dc6d-5e4f-445c-b3d9-931862043e89","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[380,1340],"alwaysOutputData":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $(\"When chat message received\").item.json.sessionId }}"},"id":"e7b70bb2-ca45-4309-9712-2e961855507c","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-220,960],"notesInFlow":false},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.mimeType }}","type":"string"},{"id":"77d782de-169d-4a46-8a8e-a3831c04d90f","name":"file_title","value":"={{ $json.name }}","type":"string"},{"id":"9bde4d7f-e4f3-4ebd-9338-dce1350f9eab","name":"file_url","value":"={{ $json.webViewLink }}","type":"string"}]},"options":{}},"id":"6e459c15-c510-4f7b-b365-86ed5254b763","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-260,1480]},{"parameters":{"options":{"systemMessage":"=## Role\n\nYou are a Retrieval-Augmented Generation (RAG) assistant designed to answer questions a user has. You use a corpus of documents that are all text based. Your primary goal is to provide accurate, up-to-date, and relevant information based on what the user asks and the documents you retrieve.\n\n## Responsibilities\n\n- Answer user queries with a good mix of being comprehensive but still concise\n- Present information in an easy-to-understand and professional manner  \n- Clarify misconceptions or misinformation\n\n## Other Key Information and Instructions\n\n- Always tell the user if you didn't find the answer. Don't make something up just to please them.\n- Keep your language neutral and factual. Do not show bias or opinion  \n\n## Error Handling\n- If the information cannot be found using the provided instructions respond with:  \n  “I’m sorry, I couldn’t find relevant information based on your documents.”\n"}},"id":"889cfdcb-4291-4c01-adaa-2d309c07ca81","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-320,740]},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-440,1340],"id":"e249f8dc-3a44-48cc-8903-5179808df14f","name":"Loop Over Items"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const chunks = [];\nconst chunkSize = 400;\nconst chunkOverlap = 0;\nconst text = $json.data.replace(/\\n/, '');\n\nfor (let i=0, j=Math.round(text.length/chunkSize); i<j; i++) {\n  chunks.push(\n    text.substr(\n      Math.max(0,(i * chunkSize)-chunkOverlap),\n      chunkSize\n    )\n  );\n}\n\nreturn { chunks };"},"id":"21d5210f-5eb9-488e-a86e-319ae768a722","name":"Create Chunks From Doc","type":"n8n-nodes-base.code","typeVersion":2,"position":[620,1500]},{"parameters":{"fieldToSplitOut":"chunks","options":{"destinationFieldName":"chunk"}},"id":"520e41de-54bf-481f-a794-804c14741b8c","name":"Chunks To List","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[840,1360]},{"parameters":{"promptType":"define","text":"=<document> \n{{ $('Extract Document Text').first().json.data }} \n</document>\nHere is the chunk we want to situate within the whole document \n<chunk> \n{{ $json.chunk }}\n</chunk> \nPlease give a short succinct context to situate this chunk within the overall document for the purposes of improving search retrieval of the chunk. Answer only with the succinct context and nothing else. "},"id":"6ecf80f2-e52e-42b7-b07a-8162fc983ddb","name":"Generate Contextual Text","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[1060,1500]},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1020,1740],"id":"49f351d2-4f02-45b4-8e45-ec4875e88c01","name":"OpenAI Chat Model3"},{"parameters":{"assignments":{"assignments":[{"id":"069d067c-3534-4939-8ff4-34dee02a9436","name":"chunk","value":"={{ $('Chunks To List').item.json.chunk }}","type":"string"},{"id":"24e01f4f-e156-47e9-a89e-9cbdccda6bd4","name":"text","value":"={{ $('Generate Contextual Text').item.json.text }}","type":"string"}]},"options":{}},"id":"6efe72b6-0c52-4846-b762-cdc56d238278","name":"Get Values","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1420,1380]},{"parameters":{"mode":"insert","tableName":"documents_pg","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.1,"position":[1640,1480],"id":"2dcd3020-0aec-4451-83bb-7f6965f41971","name":"Postgres PGVector Store"},{"parameters":{"mode":"retrieve-as-tool","toolName":"documents_pg","toolDescription":"Use RAG to look up information in the knowledgebase.","tableName":"documents_pg","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.1,"position":[0,860],"id":"a6d5c48b-d527-40b4-8ea1-dab805c2968a","name":"Document RAG Tool1"},{"parameters":{"operation":"executeQuery","query":"DO $$\nBEGIN\n    IF EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'documents_pg') THEN\n        EXECUTE 'DELETE FROM documents_pg WHERE metadata->>''file_id'' LIKE ''%' || $1 || '%''';\n    END IF;\nEND\n$$;","options":{"queryReplacement":"={{ $json.file_id }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-40,1340],"id":"b39f91c4-20b2-444a-bd96-30ae43230b7d","name":"Delete Old Doc Records"},{"parameters":{"model":"gpt-4.1-mini","options":{}},"id":"97beae27-6fe1-4a4d-9801-fc670fd06fd9","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-400,960]},{"parameters":{"jsonMode":"expressionData","jsonData":"={{\n{\n  \"content\": `${ $json.text }\\n---\\n${ $json.chunk }`\n}\n}}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').first().json.file_id }}"},{"name":"file_title","value":"={{ $('Set File ID').first().json.file_title }}"},{"name":"file_url","value":"={{ $('Set File ID').first().json.file_url }}"}]}}},"id":"7ffd41bb-5fec-4dce-b7a9-fba78537e499","name":"Default Data Loader1","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1720,1740]},{"parameters":{"content":"## Tool to Add Google Drive Files to Vector DB with Contextual Embeddings","height":867,"width":2853,"color":5},"id":"e26f1509-3e2b-43fe-b278-d4b7e07f1c81","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-720,1220]},{"parameters":{"content":"## RAG AI Agent with Contextual Retrieval","height":485,"width":1036},"id":"8b05708f-e08b-409f-9b43-2b4900edd0f9","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-700,660]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"6e0f1791-5715-4d20-ac6a-2296c07e7dd9","name":"Embeddings OpenAI3","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[1560,1740]},{"parameters":{"chunkSize":2000,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1840,1900],"id":"05cfef0d-6dad-46ed-b5ee-172038d2e9f3","name":"Recursive Character Text Splitter1"}],"connections":{"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Create Chunks From Doc","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Records","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Set File ID","type":"main","index":0}]]},"Chunks To List":{"main":[[{"node":"Generate Contextual Text","type":"main","index":0}]]},"Create Chunks From Doc":{"main":[[{"node":"Chunks To List","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Generate Contextual Text","type":"ai_languageModel","index":0}]]},"Generate Contextual Text":{"main":[[{"node":"Get Values","type":"main","index":0}]]},"Get Values":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]},"Postgres PGVector Store":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Document RAG Tool1":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Delete Old Doc Records":{"main":[[{"node":"Download File","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"38710706-030d-4cd9-a7fc-de41dd433e38","triggerCount":0,"tags":[{"createdAt":"2025-05-16T17:52:02.411Z","updatedAt":"2025-05-16T17:52:02.411Z","id":"yLivzSQGHADXNzQu","name":"me"}]}