docker/n8n/backup/workflows/j6E2MTiA5y36RS0D.json
{"createdAt":"2025-05-19T14:43:43.139Z","updatedAt":"2025-05-19T14:43:43.139Z","id":"j6E2MTiA5y36RS0D","name":"CRM Magic","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"search","base":{"__rl":true,"value":"app2EDS8CrzH8yKhO","mode":"list","cachedResultName":"游논 CRM Magic v1.0","cachedResultUrl":"https://airtable.com/app2EDS8CrzH8yKhO"},"table":{"__rl":true,"value":"tbl9I9CZx6kwEmmhV","mode":"list","cachedResultName":"Knowledge","cachedResultUrl":"https://airtable.com/app2EDS8CrzH8yKhO/tbl9I9CZx6kwEmmhV"},"options":{"view":{"__rl":true,"value":"viw7y9TgElcL35pQ6","mode":"list","cachedResultName":"Transcribe","cachedResultUrl":"https://airtable.com/app2EDS8CrzH8yKhO/tbl9I9CZx6kwEmmhV/viw7y9TgElcL35pQ6"}}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1260,60],"id":"c4194fe6-365b-4a18-9d85-4e32200d99bc","name":"Airtable"},{"parameters":{"method":"POST","url":"https://sea-turtle-app-nlak2.ondigitalocean.app/v1/media/transcribe","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"media_url\":\"{{ $json['Source URL'] ?? $json['Source Media'][0].url }}\",\n    \"task\": \"transcribe\",\n    \"include_text\": true,\n    \"response_type\": \"cloud\",\n    \"word_timestamps\": true,\n    \"language\": \"en\",\n    \"webhook_url\": \"https://hooks.airtable.com/workflows/v1/genericWebhook/app2EDS8CrzH8yKhO/wflNVQTgS2it8STtF/wtrzWviNT3QNcjRm6\",\n    \"id\": \"{{ $json.id }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1040,60],"id":"3179a922-ad64-4065-a07b-1e24beed69a6","name":"HTTP Request"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"app2EDS8CrzH8yKhO","mode":"list","cachedResultName":"游논 CRM Magic v1.0","cachedResultUrl":"https://airtable.com/app2EDS8CrzH8yKhO"},"table":{"__rl":true,"value":"tbl9I9CZx6kwEmmhV","mode":"list","cachedResultName":"Knowledge","cachedResultUrl":"https://airtable.com/app2EDS8CrzH8yKhO/tbl9I9CZx6kwEmmhV"},"options":{"view":{"__rl":true,"value":"viwd92phdziXhudM7","mode":"list","cachedResultName":"Summarize","cachedResultUrl":"https://airtable.com/app2EDS8CrzH8yKhO/tbl9I9CZx6kwEmmhV/viwd92phdziXhudM7"}}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1480,1730],"id":"237ddcea-36a6-4032-9756-f41d67a3f33f","name":"Airtable1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $json.data }}.\n\nReview the transcription of a sales call above.\n\nIdentify the following:\n\n1. The clients goals\n2. Their dream outcome\n3. Their blockers\n4. Their questions\n5. Their objections\n\noutput the results in the following json format.\n\nonly use strings for goals, dreams, blockers, questions and objections.\n\nif there are multiple options, just add them together in the same string.\n\n{\n  \"goals\": \"GOALS\",\n  \"dreams\": \"DREAMS\",\n  \"blockers\": \"BLOCKERS\",\n  \"questions\": \"QUESTIONS\",\n  \"objections\": \"OBJECTIONS\"\n}\n\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-1040,1730],"id":"832d4dd8-d490-46c2-87cd-769091801c6b","name":"OpenAI"},{"parameters":{"url":"={{ $json.Text[0].url }}","options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1260,1730],"id":"ffd08995-0369-4d55-848e-e066697326eb","name":"HTTP Request1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Analyze the following customer communication:\n\nText: {{ $json.data }}\n\nClassify this customer's personality type based on their communication style. Choose one of the following:\n- Analytical: Fact-focused, logical, detail-oriented\n- Visionary: Big-picture thinker, future-focused, conceptual\n- Skeptical: Cautious, needs proof, questions claims\n- Relational: People-focused, values connection, emotional\n\nOutput in JSON format:\n{\n  \"personality_type\": \"PERSONALITY_TYPE\",\n  \"communication_traits\": \"KEY TRAITS OBSERVED\",\n  \"recommended_tone\": \"SUGGESTED TONE FOR RESPONSES\"\n}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-664,1730],"id":"e7f4d9a4-fc41-46a0-9112-af894b7a9014","name":"Personality Classifier"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"app2EDS8CrzH8yKhO","mode":"list","cachedResultName":"游논 CRM Magic v1.0","cachedResultUrl":"https://airtable.com/app2EDS8CrzH8yKhO"},"table":{"__rl":true,"value":"tbl9I9CZx6kwEmmhV","mode":"list","cachedResultName":"Knowledge","cachedResultUrl":"https://airtable.com/app2EDS8CrzH8yKhO/tbl9I9CZx6kwEmmhV"},"columns":{"mappingMode":"defineBelow","value":{"Indexed":false,"id":"={{ $('Airtable1').item.json.id }}","Goals":"={{ $json.message.content.goals }}","Dream Outcome":"={{ $json.message.content.dreams }}","Blockers":"={{ $json.message.content.blockers }}","Questions":"={{ $json.message.content.questions }}","Objections":"={{ $json.message.content.objections }}","Personality Type":"={{ $('Personality Classifier').item.json.message.content.personality_type }}","Communication Traits":"={{ $('Personality Classifier').item.json.message.content.communication_traits }}","Recommended Tone":"={{ $('Personality Classifier').item.json.message.content.recommended_tone }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"KID","displayName":"KID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Zoom","value":"Zoom"},{"name":"Gmail","value":"Gmail"},{"name":"YouTube","value":"YouTube"},{"name":"Loom","value":"Loom"}],"readOnly":false,"removed":false},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Source URL","displayName":"Source URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Text","displayName":"Text","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Video URL","displayName":"Video URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Transcription URL","displayName":"Transcription URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Error","displayName":"Error","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Thumbnail","displayName":"Thumbnail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"AUTO_ID","displayName":"AUTO_ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Goals","displayName":"Goals","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Dream Outcome","displayName":"Dream Outcome","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Blockers","displayName":"Blockers","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Questions","displayName":"Questions","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Objections","displayName":"Objections","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Leads","displayName":"Leads","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Indexed","displayName":"Indexed","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Personality Type","displayName":"Personality Type","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Communication Traits","displayName":"Communication Traits","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Recommended Tone","displayName":"Recommended Tone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}]},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-288,1730],"id":"3a456a90-dc65-45a7-8e0a-04386a7b625e","name":"Airtable2"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"app2EDS8CrzH8yKhO","mode":"list","cachedResultName":"游논 CRM Magic v1.0","cachedResultUrl":"https://airtable.com/app2EDS8CrzH8yKhO"},"table":{"__rl":true,"value":"tbl9I9CZx6kwEmmhV","mode":"list","cachedResultName":"Knowledge","cachedResultUrl":"https://airtable.com/app2EDS8CrzH8yKhO/tbl9I9CZx6kwEmmhV"},"options":{"view":{"__rl":true,"value":"viwWM4lj6pnjP3m3q","mode":"list","cachedResultName":"Index Row","cachedResultUrl":"https://airtable.com/app2EDS8CrzH8yKhO/tbl9I9CZx6kwEmmhV/viwWM4lj6pnjP3m3q"}}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1480,2190],"id":"17aa67e1-f15d-4218-b8f5-575cba04ccdc","name":"Airtable3"},{"parameters":{"url":"={{ $('Airtable3').item.json['Text File'][0].url }}","options":{"response":{"response":{"fullResponse":true,"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1260,2190],"id":"05a0902d-fe5a-48bb-a2eb-f4995c57a564","name":"HTTP Request2"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"crm-magic","mode":"list","cachedResultName":"crm-magic"},"options":{"pineconeNamespace":"={{ $('Airtable3').item.json.Namespace }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[-804,2190],"id":"886c393b-8d2e-47be-a0ff-8c093bb30049","name":"Pinecone Vector Store"},{"parameters":{"jsonMode":"expressionData","jsonData":"=Category: {{ $('Airtable3').item.json['Category'] }}. Title: {{ $('Airtable3').item.json.Title }}. Text: {{ $('HTTP Request2').item.json.data }}.","options":{"metadata":{"metadataValues":[{"name":"id","value":"={{ $('Airtable3').item.json.id }}"},{"name":"Title","value":"={{ $('Airtable3').item.json.Title }}"},{"name":"Source URL","value":"={{ $('Airtable3').item.json['Source URL'] }}"},{"name":"Category","value":"={{ $('Airtable3').item.json['Category'] }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-700,2412.5],"id":"0d7d2d7b-143a-48c2-a6cc-0654cdf8784f","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[-820,2410],"id":"4eef5bf0-8e20-433c-a42d-81beebaa10c1","name":"Embeddings OpenAI"},{"parameters":{"chunkSize":5000,"chunkOverlap":200},"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[-612,2610],"id":"0040a3b3-009c-4829-91f0-aad5c11a6b01","name":"Character Text Splitter"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"app2EDS8CrzH8yKhO","mode":"list","cachedResultName":"游논 CRM Magic v1.0","cachedResultUrl":"https://airtable.com/app2EDS8CrzH8yKhO"},"table":{"__rl":true,"value":"tbl9I9CZx6kwEmmhV","mode":"list","cachedResultName":"Knowledge","cachedResultUrl":"https://airtable.com/app2EDS8CrzH8yKhO/tbl9I9CZx6kwEmmhV"},"columns":{"mappingMode":"defineBelow","value":{"Indexed":true,"id":"={{ $('Airtable3').item.json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"KID","displayName":"KID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Zoom","value":"Zoom"},{"name":"Gmail","value":"Gmail"},{"name":"YouTube","value":"YouTube"},{"name":"Loom","value":"Loom"}],"readOnly":false,"removed":false},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Source URL","displayName":"Source URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Text","displayName":"Text","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Video URL","displayName":"Video URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Transcription URL","displayName":"Transcription URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Error","displayName":"Error","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Thumbnail","displayName":"Thumbnail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"AUTO_ID","displayName":"AUTO_ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Goals","displayName":"Goals","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Dream Outcome","displayName":"Dream Outcome","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Blockers","displayName":"Blockers","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Questions","displayName":"Questions","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Objections","displayName":"Objections","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Leads","displayName":"Leads","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Indexed","displayName":"Indexed","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false}]},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1040,2190],"id":"a578c26a-b894-4c37-bcba-9a26bb838629","name":"Airtable4"},{"parameters":{"mode":"load","pineconeIndex":{"__rl":true,"value":"crm-magic","mode":"list","cachedResultName":"crm-magic"},"prompt":"=Help me find information on on my goals: {{ $json['Goals (from Knowledge)'] }} and blockers: {{ $json['Blockers (from Knowledge)'] }}","topK":20,"options":{"pineconeNamespace":"Training"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[-1260,620],"id":"ae80c669-960d-41f1-b0b1-a91d77d6d5f0","name":"Pinecone Vector Store4"},{"parameters":{"mode":"load","pineconeIndex":{"__rl":true,"value":"crm-magic","mode":"list","cachedResultName":"crm-magic"},"prompt":"=Find the best YouTube content that addresses these blockers: {{ $json['Blockers (from Knowledge)'] }}","topK":3,"options":{"pineconeNamespace":"YouTube"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[-1260,320],"id":"a6fd7988-2464-4c77-b114-56cb0e9abccc","name":"Content Recommender"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=We need to write a 2-3 sentence email follow up email to re-enagage a potential client.\n\nProspect information below:\n\nName (prospect): {{ $('Airtable8').item.json['First Name'] }}\nGoals: {{ $('Airtable8').item.json['Goals (from Knowledge)'] }}\nDreams: {{ $('Airtable8').item.json['Dream Outcome (from Knowledge)'] }}\nBlockers: {{ $('Airtable8').item.json['Blockers (from Knowledge)'] }}\nQuestions: {{ $('Airtable8').item.json['Questions (from Knowledge)'] }}\nObjections: {{ $('Airtable8').item.json['Objections (from Knowledge)'] }}\nPersonality Type: {{ $('Airtable8').item.json['Personality Type (from Knowledge)'] }}\nRecommended Tone: {{ $('Airtable8').item.json['Recommended Tone (from Knowledge)'] }}\n\nUse the related facts below taken from our youtube database to suggest a valueable insight and youtube link for futher education. Match the tone and style to the customer's personality type.\n\nEnd the email with a friendly offer to answer any questions and suggest a call.\n\nSign the email.\n\nBest,\nStephen\n\n\n{{ $json.content }}\n\n{{ $json.metadata['Source URL'] }}\n\nYouTube Content: {{ $('Content Recommender').item.json.document.pageContent }}\nYouTube URL: {{ $('Content Recommender').item.json.document.metadata['Source URL'] }}\n\noutput in json format\n{\n\"subject\": \"SUBJECT\",\n\"email\": \"EMAIL\",\n\"voice_message\": \"VOICE_MESSAGE\",\n\"whatsapp_message\": \"WHATSAPP_MESSAGE\"\n}\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-664,470],"id":"68176081-5839-484b-9631-e9461b74e769","name":"OpenAI2"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"document.pageContent","renameField":true,"outputFieldName":"content"},{"fieldToAggregate":"document.metadata['Source URL']"}]},"options":{"mergeLists":true}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-884,470],"id":"214c616b-20c6-49ac-8aec-4762da42eb8c","name":"Aggregate"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[-1172,840],"id":"817e50ce-6886-4c59-8ca0-a3b152382df3","name":"Embeddings OpenAI4"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"app2EDS8CrzH8yKhO","mode":"list","cachedResultName":"游논 CRM Magic v1.0","cachedResultUrl":"https://airtable.com/app2EDS8CrzH8yKhO"},"table":{"__rl":true,"value":"tbltAo0KqMEl9wVwj","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/app2EDS8CrzH8yKhO/tbltAo0KqMEl9wVwj"},"options":{"view":{"__rl":true,"value":"viwT22Z8DUdjOxwkc","mode":"list","cachedResultName":"Follow Up","cachedResultUrl":"https://airtable.com/app2EDS8CrzH8yKhO/tbltAo0KqMEl9wVwj/viwT22Z8DUdjOxwkc"}}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1480,470],"id":"584a4319-b40a-412c-b9ad-e0fd2a02ec86","name":"Airtable8"},{"parameters":{"resource":"draft","subject":"={{ $json.message.content.subject }}","message":"={{ $json.message.content.email }}","options":{"sendTo":"={{ $('Airtable8').item.json.Email }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-288,370],"id":"01ca3ada-72e3-4136-8971-b963d16a99d7","name":"Gmail","webhookId":"c9fcf51b-0706-43ed-a50a-e97107302644"},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/text-to-speech/21m00Tcm4TlvDq8ikWAM","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": \"{{ $json.message.content.voice_message }}\",\n  \"model_id\": \"eleven_monolingual_v1\",\n  \"voice_settings\": {\n    \"stability\": 0.5,\n    \"similarity_boost\": 0.75\n  }\n}","options":{"response":{"response":{"fullResponse":true,"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-288,570],"id":"652b49a9-32ce-495b-bfaa-2a0568efd44e","name":"ElevenLabs Voice"},{"parameters":{"method":"POST","url":"https://api.twilio.com/2010-04-01/Accounts/{{$credentials.accountSid}}/Messages.json","authentication":"genericCredentialType","genericAuthType":"basicAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"To","value":"={{ \"whatsapp:+\" + $('Airtable8').item.json.Phone }}"},{"name":"From","value":"={{ \"whatsapp:+\" + $credentials.from }}"},{"name":"Body","value":"={{ $json.message.content.whatsapp_message }}"},{"name":"MediaUrl","value":"={{ $('ElevenLabs Voice').item.json.responseFileName }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10,570],"id":"45dd2347-39ab-4f20-9a04-7e0d39d1b7b8","name":"WhatsApp Integration"},{"parameters":{"httpMethod":"POST","path":"lead-capture","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1480,60],"id":"40247fdc-69e0-4437-b8db-af25e883a5f2","name":"Webform Trigger","webhookId":"lead-capture-webhook"},{"parameters":{"method":"POST","url":"https://api.calendly.com/scheduling_links","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"owner\": \"{{ $json.owner_uri }}\",\n  \"max_event_count\": 1,\n  \"owner_type\": \"users\",\n  \"resource_uri\": \"{{ $json.event_type_uri }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[308,570],"id":"99b958d0-96c3-4dd9-a8ba-074becd3f66f","name":"Calendly Integration"},{"parameters":{"method":"POST","url":"https://api.softr.io/v1/pages/crm-dashboard/blocks/leads-overview/data","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[606,670],"id":"3e6d4570-7da0-4e84-a5a0-6f0ccb7b32cd","name":"Dashboard Sync"},{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"filters":{"labelIds":["INBOX"]}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-288,1070],"id":"569f162d-688f-401c-bc73-5bc1b584afa3","name":"Gmail Trigger"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Subject: {{ $json.Subject }}\nBody: {{ $json.snippet }}\n\nexamine the email above and classify it.\n\nhere are the types and descriptions.\n\n\"Product Question\" an email that contains a question about a product like the kontent engine database or no-code architects community\n\n\"Sales Pitch\" and email that seems like a solicitation for doing business\n\n\"Other\" everything else\n\nreply as a json\n{\n\"type\": \"EMAIL_TYPE\"\n} "}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-68,1270],"id":"6f3c3e82-09b5-4eaa-8e44-10b69c3fc1cd","name":"OpenAI3"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Analyze the following email for upsell opportunities:\n\nEmail: {{ $json.snippet }}\n\nIdentify if the customer is showing interest in additional features or services. \nOutput in JSON format:\n{\n  \"upsell_opportunity\": true/false,\n  \"interest_area\": \"specific feature or service they're interested in\",\n  \"recommended_next_step\": \"suggested action to take\",\n  \"funnel_stage_increase\": true/false\n}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-68,770],"id":"0e5054d9-9377-4a7d-86dd-cd08735049e0","name":"Upsell Detector"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"app2EDS8CrzH8yKhO","mode":"list","cachedResultName":"游논 CRM Magic v1.0"},"table":{"__rl":true,"value":"tbltAo0KqMEl9wVwj","mode":"list","cachedResultName":"Leads"},"columns":{"mappingMode":"defineBelow","value":{"Funnel Stage":"={{ $json.message.content.funnel_stage_increase ? $json['Funnel Stage'] + 1 : $json['Funnel Stage'] }}","Interest Area":"={{ $json.message.content.interest_area }}","id":"={{ $json.id }}"},"matchingColumns":["id"]},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[308,770],"id":"84fa61bf-aa22-4abf-a3ec-1a721a154dc3","name":"Funnel Updater"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.content.type }}","rightValue":"Product Question","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"58508866-3475-49da-b5d7-5bfd862cbe61","leftValue":"={{ $json.message.content.type }}","rightValue":"Sales Pitch","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a8feeb9d-7528-4534-85e9-5d28928ba870","leftValue":"={{ $json.message.content.type }}","rightValue":"Other","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[308,1270],"id":"f7bad894-e1e8-4cc9-a33e-8ee1bbebed52","name":"Switch"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"={{ $json.pageContent }}\n\ntake the content above and summarize it for an email response to this question: {{ $('Gmail Trigger').item.json.snippet }}\n\nThe email is from: {{ $('Gmail Trigger').item.json.From }}\n\noutput in json format\n{\n\"subject\": \"SUBJECT\",\n\"email\": \"EMAIL\"\n}\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[1124,970],"id":"c47fbeff-2640-4680-ae29-67149c6140cb","name":"OpenAI4"},{"parameters":{"resource":"draft","subject":"={{ $json.message.content.subject }}","message":"={{ $json.message.content.email }}","options":{"threadId":"={{ $('Gmail Trigger').item.json.threadId }}","sendTo":"={{ $('Gmail Trigger').item.json.From }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1500,970],"id":"a35a9575-8d12-4813-9b31-973f5f273e8c","name":"Gmail1","webhookId":"c9fcf51b-0706-43ed-a50a-e97107302644"},{"parameters":{"mode":"load","pineconeIndex":{"__rl":true,"value":"crm-magic","mode":"list","cachedResultName":"crm-magic"},"prompt":"={{ $('Gmail Trigger').item.json.snippet }}","topK":20,"options":{"pineconeNamespace":"Product"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[528,870],"id":"bebf1246-f746-4e2f-8d58-b5b01b36d609","name":"Pinecone Vector Store5"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[616,1090],"id":"6973a7aa-5a9f-4685-bdae-dff84cf2cbca","name":"Embeddings OpenAI5"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"document.pageContent"}]},"options":{"mergeLists":true}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[904,970],"id":"d923ea92-e184-4b90-b94f-0d7594185576","name":"Aggregate2"},{"parameters":{"resource":"thread","operation":"addLabels","threadId":"={{ $('Gmail Trigger').item.json.threadId }}","labelIds":["Label_2023907496515932193"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[904,1270],"id":"41f6870a-349b-4bc9-883e-a1c37be416bf","name":"Gmail2","webhookId":"655ea80e-b875-4eb8-af09-ce7636c066bb"},{"parameters":{"resource":"thread","operation":"removeLabels","threadId":"={{ $('Gmail Trigger').item.json.threadId }}","labelIds":["INBOX"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[606,1270],"id":"5ca538d2-96c0-4998-9243-65007726751b","name":"Gmail3","webhookId":"655ea80e-b875-4eb8-af09-ce7636c066bb"},{"parameters":{"content":"## Process Inbox","height":780,"width":2180,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-434,850],"typeVersion":1,"id":"c1777fba-023b-468a-aa63-41ffb3b8eeec","name":"Sticky Note2"},{"parameters":{"resource":"thread","operation":"removeLabels","threadId":"={{ $('Gmail Trigger').item.json.threadId }}","labelIds":["INBOX"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[606,1470],"id":"fedc1a65-6764-41ae-9ff6-43073e4d363f","name":"Gmail4","webhookId":"655ea80e-b875-4eb8-af09-ce7636c066bb"},{"parameters":{"resource":"thread","operation":"addLabels","threadId":"={{ $('Gmail Trigger').item.json.threadId }}","labelIds":["Label_2088008838527973598"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[904,1470],"id":"0757c63f-9b4f-4e7f-bd5d-d98446700eb2","name":"Gmail5","webhookId":"655ea80e-b875-4eb8-af09-ce7636c066bb"},{"parameters":{"content":"## Follow Up Email","height":520,"width":1600,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1336,460],"typeVersion":1,"id":"9abf25d0-0a32-445b-9e0c-b0b2aac6b214","name":"Sticky Note"},{"parameters":{"content":"## Transcribe Media\n","height":320,"width":1300,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1750,-100],"typeVersion":1,"id":"97a37cd8-a8bf-410d-b570-726adad18b7c","name":"Sticky Note3"},{"parameters":{"content":"## Summarize Transcription","height":300,"width":1300},"type":"n8n-nodes-base.stickyNote","position":[-1484,1590],"typeVersion":1,"id":"c5ba973a-fa64-4ac8-9e16-35ef0f92ee4c","name":"Sticky Note4"},{"parameters":{"content":"## Build Knowledge Base","height":660,"width":1300,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1612,2090],"typeVersion":1,"id":"d2fa0c75-608a-45e4-b83d-b69788a03a29","name":"Sticky Note5"},{"parameters":{"content":"## Personality Classification","height":200,"width":300,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-576,1690],"typeVersion":1,"id":"b3018fbb-44d5-4563-80f1-6eec6a8e1ac6","name":"Sticky Note Personality"},{"parameters":{"content":"## Content Recommendation","height":200,"width":300,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-1282,280],"typeVersion":1,"id":"1a2d7c8d-0a94-4f20-94f2-b6c8ecf05233","name":"Sticky Note Content"},{"parameters":{"content":"## WhatsApp Voice Automation","height":200,"width":600,"color":8},"type":"n8n-nodes-base.stickyNote","position":[-389,530],"typeVersion":1,"id":"37067e2c-f970-4294-8089-d16ba6b721b6","name":"Sticky Note WhatsApp"},{"parameters":{"content":"## Upsell Detection & Funnel Progression","height":200,"width":600,"color":9},"type":"n8n-nodes-base.stickyNote","position":[-130,730],"typeVersion":1,"id":"d94403d7-3c48-4d28-986a-fa3ef34bbf2d","name":"Sticky Note Upsell"},{"parameters":{"content":"## Dashboard & Calendar Integration","height":200,"width":500,"color":10},"type":"n8n-nodes-base.stickyNote","position":[257,630],"typeVersion":1,"id":"ceed7cbf-284d-4c3a-a7d5-c43ce0e7705b","name":"Sticky Note Dashboard"},{"parameters":{"content":"## Lead Capture Trigger","height":220,"width":300},"type":"n8n-nodes-base.stickyNote","position":[-1580,0],"typeVersion":1,"id":"f516069e-73c5-4033-b65e-f2aabb99d2d9","name":"Sticky Note Lead Capture"}],"connections":{"Airtable":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Airtable1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Personality Classifier","type":"main","index":0}]]},"Personality Classifier":{"main":[[{"node":"Airtable2","type":"main","index":0}]]},"Airtable3":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"HTTP Request2":{"main":[[{"node":"Airtable4","type":"main","index":0}]]},"Airtable4":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Pinecone Vector Store4":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"ElevenLabs Voice","type":"main","index":0},{"node":"Gmail","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"Embeddings OpenAI4":{"ai_embedding":[[{"node":"Pinecone Vector Store4","type":"ai_embedding","index":0}]]},"Airtable8":{"main":[[{"node":"Content Recommender","type":"main","index":0},{"node":"Pinecone Vector Store4","type":"main","index":0}]]},"ElevenLabs Voice":{"main":[[{"node":"WhatsApp Integration","type":"main","index":0}]]},"WhatsApp Integration":{"main":[[{"node":"Calendly Integration","type":"main","index":0}]]},"Content Recommender":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Webform Trigger":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Calendly Integration":{"main":[[{"node":"Dashboard Sync","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"OpenAI3","type":"main","index":0},{"node":"Upsell Detector","type":"main","index":0}]]},"OpenAI3":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Upsell Detector":{"main":[[{"node":"Funnel Updater","type":"main","index":0}]]},"Funnel Updater":{"main":[[{"node":"Dashboard Sync","type":"main","index":0}]]},"OpenAI4":{"main":[[{"node":"Gmail1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Pinecone Vector Store5","type":"main","index":0}],[{"node":"Gmail3","type":"main","index":0}],[{"node":"Gmail4","type":"main","index":0}]]},"Embeddings OpenAI5":{"ai_embedding":[[{"node":"Pinecone Vector Store5","type":"ai_embedding","index":0}]]},"Pinecone Vector Store5":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"OpenAI4","type":"main","index":0}]]},"Gmail3":{"main":[[{"node":"Gmail2","type":"main","index":0}]]},"Gmail4":{"main":[[{"node":"Gmail5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"3ea3084e-5ac1-4976-a8dc-6e81e5eb7aba","triggerCount":0,"tags":[]}