n8n-workflows/6DKzva1rUYcYZJqC.json
{"createdAt":"2025-05-21T20:31:31.186Z","updatedAt":"2025-06-27T14:18:54.000Z","id":"6DKzva1rUYcYZJqC","name":"Everyday Voice Assistant","active":false,"isArchived":false,"nodes":[{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"Sure, one second...","additionalFields":{"appendAttribution":false,"reply_to_message_id":"={{ $json.message.message_id }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[220,0],"id":"d3a2338a-8d3e-4cf0-bb5e-304a905ced14","name":"Telegram","webhookId":"61c756cc-f4fb-46a3-89be-a52094686058","credentials":{"telegramApi":{"id":"qXALbPH5bBdv1PLP","name":"Everyday Creator AI bot"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.result.reply_to_message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true},"id":"f717f1db-f703-4639-8f00-0f797ad1fa27"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"96eed960-1226-4c58-8d4f-3a215c9d8daa","leftValue":"={{ $json.result.reply_to_message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[440,0],"id":"e02a2291-8265-45ee-8eb0-f9928a038cda","name":"Switch"},{"parameters":{"promptType":"define","text":"={{ $('Telegram Trigger').item.json.message.text ??  $('OpenAI').item.json.text }}","hasOutputParser":true,"options":{"systemMessage":"=You are a helpful assistant that helps create content.\n\nWhen you respond, always return **exactly** this JSON:\n\n{\n  \"text\":  \"Respond using text output from tool\",\n  \"voice\": \"Respond using voice output from tool\"\n}\n\nHere are the tools and the response formats for each tool.\n\n# Capture New Idea Tool\nUse when the user wants to add a brand-new idea.\n\nOutput:\n{\n  \"text\": \"CID (e.g. C65 or C77) has been added to the database.\",\n  \"voice\": \"\"\n}\n\n# Rewrite Content Tool\nUse when the user asks to rewrite an existing CID with additional ideas.\n\nSteps  \n1. Use **Get Record ID** to look up the Record ID from the CID.  \n2. Pass the *Record ID* and the *Additional Content* to **Rewrite Content**.\n\nOutput:\n{\n  \"text\": \"CID (e.g. C65 or C77) has been updated.\",\n  \"voice\": \"\"\n}\n\n# Get Content Tool\nUse when the user wants to retrieve content.\n\nSteps  \n1. If the user supplies a CID, use **Get Record ID** to fetch the Record ID.  \n2a. For a specific CID: return its description and text.  \n2b. If no CID: return all CIDs that match the user’s date range or topic criteria.  \n3. If the user wants the response read aloud, include an audio file; otherwise return text only.\n\nOutput:\n{\n  \"text\": \"Respond using text output from tool\",\n  \"voice\": \"Respond using voice output from tool\"\n}\n\n# Update Publish Date Tool  ← (New)\nUse when asked to change the publish date of an existing CID.\n\nSteps  \n1. Use **Get Record ID** to find the Record ID from the CID.  \n2. Pass the *Record ID* and the *New Publish Date* (YYYY-MM-DD) to **Update Publish Date**.\n\nOutput:\n{\n  \"text\": \"CID (e.g. C65 or C77) publish date updated to YYYY-MM-DD.\",\n  \"voice\": \"\"\n}\n\n# Delete Content Tool  ← (New)\nUse when the user asks to permanently remove a CID.\n\nSteps  \n1. Use **Get Record ID** to find the Record ID from the CID.  \n2. Pass the *Record ID* to **Delete Content**.\n\nOutput:\n{\n  \"text\": \"CID (e.g. C65 or C77) has been deleted.\",\n  \"voice\": \"\"\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1100,0],"id":"e400d3f0-3cf8-4e92-bfc2-6aefe59f40d6","name":"AI Agent"},{"parameters":{"resource":"file","fileId":"={{ $json.result.reply_to_message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[660,80],"id":"c17a8365-0893-4776-9b4a-2845e3a7f255","name":"Telegram1","webhookId":"e44d9642-2e85-40dc-8cfa-7be297acd0ca","credentials":{"telegramApi":{"id":"qXALbPH5bBdv1PLP","name":"Everyday Creator AI bot"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,80],"id":"2480b64c-34cf-452d-bd1e-ba8761d8fcff","name":"OpenAI","credentials":{"openAiApi":{"id":"95WHyrHHGXthwzQt","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1000,220],"id":"087d5ad1-cb73-4d22-909e-ea17d40dcdba","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"95WHyrHHGXthwzQt","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1140,240],"id":"a1eb5905-d2e7-4579-8e2d-8c74d2d0e856","name":"Simple Memory"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $('AI Agent').item.json.output.text }}","additionalFields":{"appendAttribution":false,"reply_to_message_id":"={{ $('Telegram Trigger').item.json.message.message_id }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1880,0],"id":"2223c5b7-cbee-49fd-84ba-93881310a188","name":"Telegram2","webhookId":"1ee5ba53-7669-4778-a782-5608db5efbdd","credentials":{"telegramApi":{"id":"qXALbPH5bBdv1PLP","name":"Everyday Creator AI bot"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"text\": \"TEXT_RESPONSE_FROM_AGENT\",\n    \"voice\": \"VOICE_RESPONSE_FROM_AGENT\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1420,300],"id":"8147b897-5679-4429-b8b0-c8cf32589e1e","name":"Structured Output Parser"},{"parameters":{"resource":"audio","input":"={{ $json.output.voice }}","options":{"response_format":"opus"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1880,200],"id":"156750b1-1fd0-4c5b-b280-bbd1e744d49c","name":"OpenAI1","credentials":{"openAiApi":{"id":"95WHyrHHGXthwzQt","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"af550863-2101-4bac-b7aa-e3ab8162d878","leftValue":"={{ $json.output.text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1600,20],"id":"279eab50-1cf2-484c-830a-be33b599ae2e","name":"If"},{"parameters":{"operation":"sendAudio","chatId":"={{ $('Switch').item.json.result.chat.id }}","binaryData":true,"additionalFields":{"reply_to_message_id":"={{ $('Switch').item.json.result.message_id }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2120,200],"id":"794f1b77-0322-483b-aaf5-593fefe9b131","name":"Telegram3","webhookId":"387c3dca-bcad-416a-8701-227321470d77","credentials":{"telegramApi":{"id":"qXALbPH5bBdv1PLP","name":"Everyday Creator AI bot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dcdef357-5f19-499c-bce1-03489a276860","leftValue":"={{ $json.output.voice }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1600,220],"id":"f84ae9f8-45b7-450b-834a-ff25d33177d8","name":"If1"},{"parameters":{"sseEndpoint":"https://n8n.srv827309.hstgr.cloud/mcp/8ac85368-bd89-4c96-95d4-9e37fd63dfc0/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1260,260],"id":"1d82c5cb-9e29-4f5f-b396-b114da17c81f","name":"KEDB Solo MCP Client","notesInFlow":false},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[0,-40],"id":"1d3f878e-51df-4cce-bbcd-2ac1556a2c3b","name":"Telegram Trigger","webhookId":"e0c66b95-21f3-41b7-9c59-ba218cce039e","credentials":{"telegramApi":{"id":"qXALbPH5bBdv1PLP","name":"Everyday Creator AI bot"}}}],"connections":{"Telegram":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Telegram1","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0},{"node":"If1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"OpenAI1":{"main":[[{"node":"Telegram3","type":"main","index":0}]]},"If":{"main":[[{"node":"Telegram2","type":"main","index":0}]]},"If1":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"KEDB Solo MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f0061271-e12d-4be8-9573-69cd8a260562","triggerCount":1,"tags":[{"createdAt":"2025-05-16T17:48:24.198Z","updatedAt":"2025-05-16T17:48:24.198Z","id":"0uHeik0s8JteYIGf","name":"client"}]}