n8n-workflows/Everyday_Brain.json
{"createdAt":"2025-05-16T17:20:34.312Z","updatedAt":"2025-06-27T15:44:12.000Z","id":"wVyWZmYeaMPKyQzi","name":"Everyday Brain","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"Zoom Recordings","mode":"list","cachedResultName":"Zoom Recordings"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[420,680],"id":"e0fb98f4-4092-4f3d-82b0-0cd71ecaa920","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"aHs0Y2CHoJJIiPAi","name":"Jeff Miller Supabase"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[420,840],"id":"918e1531-c4ac-4252-887c-3923dfb25b5d","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"95WHyrHHGXthwzQt","name":"OpenAi account"}}},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[540,840],"id":"47c5e23f-d5e5-452f-8ae5-429cf6efcd90","name":"Default Data Loader"},{"parameters":{"chunkSize":5000,"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[600,980],"id":"1cd4e819-fcc2-4a64-a331-a6cac8f5ec6b","name":"Recursive Character Text Splitter"},{"parameters":{"url":"=https://api.zoom.us/v2/meetings/{{ $json.id }}/recordings","authentication":"predefinedCredentialType","nodeCredentialType":"zoomOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[40,380],"id":"765ee13a-7a99-4591-82dd-ddeea261a457","name":"Get Recordings","credentials":{"zoomOAuth2Api":{"id":"d95JgHyzxPmaaEeC","name":"francis.waldecker@gmail.com Zoom account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"toText","sourceProperty":"output","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[180,800],"id":"8645274f-c856-42ba-9f3f-c582f2a2acd0","name":"Convert to File"},{"parameters":{"fieldToSplitOut":"recording_files","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[460,380],"id":"d8f0eeba-baad-40f5-96f2-5257f914e3a5","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"253dfbf6-4576-4a3a-ae66-63f6131753ce","leftValue":"={{ $('Get Last Run').item.json.Date }}","rightValue":"","operator":{"type":"dateTime","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1000,80],"id":"4d760f85-10df-48b8-babe-0442580210a0","name":"If"},{"parameters":{"authentication":"oAuth2","operation":"getAll","returnAll":true,"filters":{}},"type":"n8n-nodes-base.zoom","typeVersion":1,"position":[820,80],"id":"f8cef75a-51fc-44fd-a5e9-a03f9d5fe675","name":"Zoom","credentials":{"zoomOAuth2Api":{"id":"d95JgHyzxPmaaEeC","name":"francis.waldecker@gmail.com Zoom account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fcc85033-e5d1-4cc5-af2e-d46bdcced857","leftValue":"={{ $('Zoom').item.json.created_at }}","rightValue":"={{ $('Get Last Run').item.json.Date }}","operator":{"type":"dateTime","operation":"afterOrEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1200,80],"id":"ca4ea018-888a-46cc-a72b-8367c8dacb3a","name":"Filter"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8cbc21f-8492-4623-b8a9-3f19499f69dc","leftValue":"={{ $json.file_type }}","rightValue":"TRANSCRIPT","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[860,380],"id":"963a7368-cd15-4f9f-b1e4-4981631c8b1e","name":"IS TRANSCRIPT?"},{"parameters":{"jsCode":"const items = $input.all();\nconst filteredItems = items.filter((item) => !item?.json?.error);\nreturn filteredItems.map((item) => item.json);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[180,380],"id":"d32a8c01-e7ee-4758-9b01-43f56bc60dc5","name":"Only Recording"},{"parameters":{"content":"## Trigger","height":260,"width":320},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"89651200-bba9-4ebd-a2b0-814fccef668b","name":"Sticky Note1"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[100,80],"id":"128ed05a-19b0-465f-aa09-7c0d442df816","name":"Schedule Trigger"},{"parameters":{"operation":"getAll","tableId":"Zoom Recordings","returnAll":true,"filterType":"string","filterString":"order=id.desc&limit=1"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[460,80],"id":"c61a3a55-e7a1-47ca-8d53-77b515f0067b","name":"Get Last Run","alwaysOutputData":true,"executeOnce":false,"retryOnFail":false,"credentials":{"supabaseApi":{"id":"aHs0Y2CHoJJIiPAi","name":"Jeff Miller Supabase"}},"onError":"continueErrorOutput"},{"parameters":{"content":"## Get Last Run","height":260,"width":320,"color":2},"type":"n8n-nodes-base.stickyNote","position":[360,0],"typeVersion":1,"id":"c2f4e283-ea29-4c6d-860d-d08654cae8ca","name":"Sticky Note2"},{"parameters":{"content":"## Get Active Recordings","height":260,"width":720,"color":3},"type":"n8n-nodes-base.stickyNote","position":[720,0],"typeVersion":1,"id":"63e7ec1d-e201-4787-9e12-dc986c96beb6","name":"Sticky Note3"},{"parameters":{"content":"## Split Recording Files","height":260,"width":320,"color":4},"type":"n8n-nodes-base.stickyNote","position":[360,300],"typeVersion":1,"id":"cefc35fa-7210-4ae9-9634-f01d2dc354bf","name":"Sticky Note4"},{"parameters":{"content":"## Search For Transcriptions","height":260,"width":720,"color":2},"type":"n8n-nodes-base.stickyNote","position":[720,300],"typeVersion":1,"id":"69d54a2e-027f-434b-8b06-b75ded3e91b4","name":"Sticky Note5"},{"parameters":{"url":"={{ $json.download_url }}","authentication":"predefinedCredentialType","nodeCredentialType":"zoomOAuth2Api","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1140,380],"id":"2833f832-d027-4f78-bdef-fc21e3a1043b","name":"Download Transcriptions Files","credentials":{"zoomOAuth2Api":{"id":"d95JgHyzxPmaaEeC","name":"francis.waldecker@gmail.com Zoom account"}}},{"parameters":{"content":"## Get Recordings Files","height":260,"width":320,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,300],"typeVersion":1,"id":"d0d3d2b8-2abc-457a-8746-02a6553f6d24","name":"Sticky Note7"},{"parameters":{"content":"## Prep Document","height":560,"width":320,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,600],"typeVersion":1,"id":"e4da98f4-67ff-4aa4-8468-bee4d7082da5","name":"Sticky Note8"},{"parameters":{"jsCode":"// Función principal para todos los ítems en el nodo Function\nconst results = [];\n\nfor (const item of $input.all()) {\n  const vttContent = item.json.data;\n\n  const cleanedLines = vttContent\n    .split('\\n')\n    .map(line => line.trim())\n    .filter(line => line !== 'WEBVTT')\n    .filter(line => !/^\\d+$/.test(line))\n    .filter(line => !/^\\d{2}:\\d{2}:\\d{2}\\.\\d{3} -->/.test(line))\n    .filter(line => line !== '');\n\n  let conversation = [];\n  let currentSpeaker = null;\n  let currentText = [];\n\n  for (let line of cleanedLines) {\n    const match = line.match(/^([^:]+):\\s*(.*)$/);\n    if (match) {\n      const speaker = match[1].trim();\n      const text = match[2].trim();\n\n      if (speaker !== currentSpeaker && currentSpeaker !== null) {\n        conversation.push(`${currentSpeaker}: ${currentText.join(' ')}\\n`);\n        currentText = [];\n      }\n\n      currentSpeaker = speaker;\n      currentText.push(text);\n    } else if (currentSpeaker) {\n      currentText.push(line.trim());\n    }\n  }\n\n  if (currentSpeaker && currentText.length > 0) {\n    conversation.push(`${currentSpeaker}: ${currentText.join(' ')}\\n`);\n  }\n\n  const result = conversation.join('');\n\n  results.push({\n    json: {\n      output: result\n    }\n  });\n}\n\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[40,800],"id":"c356f378-3c9f-483c-a23f-9323116e251c","name":"Text Convert"},{"parameters":{"content":"## Add Document To RAG Database","height":560,"width":460,"color":6},"type":"n8n-nodes-base.stickyNote","position":[360,600],"typeVersion":1,"id":"183e16c7-2374-4f8e-bbab-3bdb2c94a869","name":"Sticky Note9"},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"fe8260d3-d902-4581-8847-660e206e8da4","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2660,440],"alwaysOutputData":true},{"parameters":{"options":{}},"id":"8894be9d-48ad-4066-b724-b92caa98bdcb","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-1700,-80]},{"parameters":{"assignments":{"assignments":[{"id":"9a9a245e-f1a1-4282-bb02-a81ffe629f0f","name":"chatInput","value":"={{ $json?.chatInput || $json.body.chatInput }}","type":"string"},{"id":"b80831d8-c653-4203-8706-adedfdb98f77","name":"sessionId","value":"={{ $json?.sessionId || $json.body.sessionId}}","type":"string"}]},"options":{}},"id":"ebd49750-eebb-470f-b9c0-ef699925424e","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2260,-80]},{"parameters":{"httpMethod":"POST","path":"bf4dd093-bb02-472c-9454-7ab9af97bd1d","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"beb1b7cf-bfd7-498f-a645-7667ee05a549","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2520,120],"webhookId":"bf4dd093-bb02-472c-9454-7ab9af97bd1d"},{"parameters":{"operation":"pdf","options":{}},"id":"a50b2aa3-ac0f-4e6c-9938-eee673e0db57","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1320,360]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"484d4503-6ef2-4db0-b3d6-19cc710698f3","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1280,540]},{"parameters":{},"id":"124eb979-e805-46b0-9259-d8fc094d9629","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[-620,1040]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"649d27a5-5c8f-410e-bf26-1542ce303dae","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-1080,620]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Set File ID1').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Set File ID1').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $('Set File ID1').item.json.file_type }}","rightValue":"=application/vnd.google-apps.spreadsheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b69f5605-0179-4b02-9a32-e34bb085f82d","leftValue":"={{ $('Set File ID1').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c7f8a5e1-5d92-4329-8b12-e9c3b1f7d4a8","leftValue":"={{ $('Set File ID1').item.json.file_type }}","rightValue":"video/","operator":{"type":"string","operation":"startsWith","name":"filter.operator.startsWith"}}],"combinator":"and"}}]},"options":{"fallbackOutput":4}},"id":"982aae14-3e19-4d97-9a65-6fa842e060af","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-1980,580]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"fecfa432-fd4e-4130-abfc-1131555a6f20","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-600,700]},{"parameters":{"operation":"xlsx","options":{}},"id":"0303d7af-2934-4fca-a7f1-21c4c0da4c4e","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1500,540]},{"parameters":{"assignments":{"assignments":[{"id":"f422e2e0-381c-46ea-8f38-3f58c501d8b9","name":"schema","value":"={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}","type":"string"},{"id":"bb07c71e-5b60-4795-864c-cc3845b6bc46","name":"data","value":"={{ $json.concatenated_data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,480],"id":"1fb8e5a6-8f47-48b1-99c8-012eafa2019e","name":"Set Schema"},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1500,720],"id":"55796434-12c6-45df-b02f-470ace2c1611","name":"Extract from CSV"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE document_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3000,100],"id":"78cb350d-4f00-4df4-8aa4-642671e391b7","name":"Create Document Metadata Table"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE document_rows (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES document_metadata(id),\n    row_data JSONB  -- Store the actual row data\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-2780,100],"id":"ca987157-7b61-4d5f-a3cb-9a970a82024a","name":"Create Document Rows Table (for Tabular Data)"},{"parameters":{"descriptionType":"manual","toolDescription":"Use this tool to fetch all available documents, including the table schema if the file is a CSV or Excel file.","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-1980,140],"id":"a95ca56c-6423-4a9a-8802-10bfc8559153","name":"List Documents"},{"parameters":{"descriptionType":"manual","toolDescription":"Given a file ID, fetches the text from the document.","operation":"executeQuery","query":"SELECT \n    string_agg(content, ' ') as document_text\nFROM documents\n  WHERE metadata->>'file_id' = $1\nGROUP BY metadata->>'file_id';","options":{"queryReplacement":"={{ $fromAI('file_id') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-1840,140],"id":"f9fd6576-f212-4460-9f17-27769ff3c041","name":"Get File Contents"},{"parameters":{"descriptionType":"manual","toolDescription":"Run a SQL query - use this to query from the document_rows table once you know the file ID you are querying. dataset_id is the file_id and you are always using the row_data for filtering, which is a jsonb field that has all the keys from the file schema given in the document_metadata table.\n\nExample query:\n\nSELECT AVG((row_data->>'revenue')::numeric)\nFROM document_rows\nWHERE dataset_id = '123';\n\nExample query 2:\n\nSELECT \n    row_data->>'category' as category,\n    SUM((row_data->>'sales')::numeric) as total_sales\nFROM dataset_rows\nWHERE dataset_id = '123'\nGROUP BY row_data->>'category';","operation":"executeQuery","query":"{{ $fromAI('sql_query') }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-1680,140],"id":"995a0040-d96a-4a63-80d6-2d686a6dbbe7","name":"Query Document Rows"},{"parameters":{"mode":"retrieve-as-tool","toolName":"documents","toolDescription":"Use RAG to look up information in the knowledgebase.","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-1360,-80],"id":"35552a31-4701-4704-9793-451c4401066b","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"aHs0Y2CHoJJIiPAi","name":"Jeff Miller Supabase"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1260,100],"id":"826b3557-76e3-47db-92b6-8fdd90a18c1a","name":"Embeddings OpenAI2"},{"parameters":{"operation":"executeQuery","query":"-- Enable the pgvector extension to work with embedding vectors\ncreate extension vector;\n\n-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);\n\n-- Create a function to search for documents\ncreate function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3200,100],"id":"d169c781-6c6f-4fad-8a9d-529286b3db55","name":"Create Documents Table and Match Function"},{"parameters":{"operation":"delete","tableId":"document_rows","filters":{"conditions":[{"keyName":"dataset_id","condition":"eq","keyValue":"={{ $('Set File ID1').item.json.file_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2500,600],"id":"df2c7893-8bc1-49cb-ba4b-ba020df77c40","name":"Delete Old Data Rows","alwaysOutputData":true,"executeOnce":true},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID1').item.json.file_id }}","title":"={{ $('Set File ID1').item.json.file_title }}","url":"={{ $('Set File ID1').item.json.file_url }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-2340,460],"id":"9561a742-ad39-4e09-82bf-e8ee6481ac17","name":"Insert Document Metadata","executeOnce":true},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_rows","mode":"list","cachedResultName":"document_rows"},"columns":{"mappingMode":"defineBelow","value":{"dataset_id":"={{ $('Set File ID1').item.json.file_id }}","row_data":"={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dataset_id","displayName":"dataset_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_data","displayName":"row_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1280,720],"id":"f6cacb8a-c74e-46a4-a89f-bf7265a2c1fd","name":"Insert Table Rows"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID1').item.json.file_id }}","schema":"={{ $json.schema }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-420,480],"id":"a2638b18-49bc-4cbe-9e72-030010d6473a","name":"Update Schema for Document Metadata"},{"parameters":{"options":{}},"id":"c0f58a9b-0765-4118-b5f8-9696135913ee","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-2260,140]},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID1').first().json.file_id }}"},{"name":"file_title","value":"={{ $('Set File ID1').first().json.file_title }}"}]}}},"id":"f2da012d-202e-4701-8394-4c4d4f05f311","name":"Default Data Loader2","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-520,920]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"95609a85-1118-42b4-8bfb-765f3b5961ad","name":"Embeddings OpenAI4","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-760,920]},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"2de11aa8-e77c-4d90-88b4-a80d6108ea2b","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1520,-220]},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":867,"width":3073,"color":5},"id":"c90e6ca5-0aaa-4204-b43b-013d90afc9ae","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3260,320]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID1').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"f39143d7-4f52-4a7d-a136-f541686483db","name":"Download File1","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2180,600],"executeOnce":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1HtaIIK3kWwjbwhsmEbtJ-upalxVn3Ek9","mode":"list","cachedResultName":"n8n Documents","cachedResultUrl":"https://drive.google.com/drive/folders/1HtaIIK3kWwjbwhsmEbtJ-upalxVn3Ek9"},"event":"fileCreated","options":{}},"id":"cb8f8dd3-ecb9-434f-9997-e44af2955cd5","name":"File Created1","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-3200,440]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1HtaIIK3kWwjbwhsmEbtJ-upalxVn3Ek9","mode":"list","cachedResultName":"n8n Documents","cachedResultUrl":"https://drive.google.com/drive/folders/1HtaIIK3kWwjbwhsmEbtJ-upalxVn3Ek9"},"event":"fileUpdated","options":{}},"id":"ec7ff398-bbdb-40c7-8341-5344295c948f","name":"File Updated1","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-3200,600]},{"parameters":{"operation":"text","options":{}},"id":"37672159-c3f8-45dd-8068-48fd3c489d95","name":"Extract Document Text1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1320,920],"alwaysOutputData":true},{"parameters":{},"id":"4d465094-8ebc-4e4a-bbf6-aa1ff228bd64","name":"Postgres Chat Memory1","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-2120,140],"notesInFlow":false},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.mimeType }}","type":"string"},{"id":"77d782de-169d-4a46-8a8e-a3831c04d90f","name":"file_title","value":"={{ $json.name }}","type":"string"},{"id":"9bde4d7f-e4f3-4ebd-9338-dce1350f9eab","name":"file_url","value":"={{ $json.webViewLink }}","type":"string"}]},"options":{}},"id":"768dee0e-4836-4c09-8ba3-e72fad366807","name":"Set File ID1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2840,600]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":1035.6381264595484},"id":"99631bb9-8308-4937-bc6e-53fe5f9d7c0c","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2560,-160]},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are a personal assistant who helps answer questions from a corpus of documents. The documents are either text based (Txt, docs, extracted PDFs, etc.) or tabular data (CSVs or Excel documents).\n\nYou are given tools to perform RAG in the 'documents' table, look up the documents available in your knowledge base in the 'document_metadata' table, extract all the text from a given document, and query the tabular files with SQL in the 'document_rows' table.\n\nAlways start by performing RAG unless the question requires a SQL query for tabular data (fetching a sum, finding a max, something a RAG lookup would be unreliable for). If RAG doesn't help, then look at the documents that are available to you, find a few that you think would contain the answer, and then analyze those.\n\nAlways tell the user if you didn't find the answer. Don't make something up just to please them."}},"id":"fd523e68-01a6-4747-b246-57748ac034e8","name":"RAG AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-2040,-80]},{"parameters":{"content":"## Run Each Node Once to Set Up Database Tables","height":300,"width":680,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-3260,0],"typeVersion":1,"id":"92d54598-5c54-44e7-81ed-d8730d1006f5","name":"Sticky Note14"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-3020,440],"id":"eea5c6b5-53e6-4ef3-8531-d535dcbbc257","name":"Loop Over Items1"},{"parameters":{"content":"## 🚀 Ultimate n8n Agentic RAG Template\n\n**Author:** [Cole Medin](https://www.youtube.com/@ColeMedin)\n\n## What is this?\nThis template provides a complete implementation of an **Agentic RAG (Retrieval Augmented Generation)** system in n8n that can be extended easily for your specific use case and knowledge base. Unlike standard RAG which only performs simple lookups, this agent can reason about your knowledge base, self-improve retrieval, and dynamically switch between different tools based on the specific question.\n\n## Why Agentic RAG?\nStandard RAG has significant limitations:\n- Poor analysis of numerical/tabular data\n- Missing context due to document chunking\n- Inability to connect information across documents\n- No dynamic tool selection based on question type\n\n## What makes this template powerful:\n- **Intelligent tool selection**: Switches between RAG lookups, SQL queries, or full document retrieval based on the question\n- **Complete document context**: Accesses entire documents when needed instead of just chunks\n- **Accurate numerical analysis**: Uses SQL for precise calculations on spreadsheet/tabular data\n- **Cross-document insights**: Connects information across your entire knowledge base\n- **Multi-file processing**: Handles multiple documents in a single workflow loop\n- **Efficient storage**: Uses JSONB in Supabase to store tabular data without creating new tables for each CSV\n\n## Getting Started\n1. Run the table creation nodes first to set up your database tables in Supabase\n2. Upload your documents through Google Drive (or swap out for a different file storage solution)\n3. The agent will process them automatically (chunking text, storing tabular data in Supabase)\n4. Start asking questions that leverage the agent's multiple reasoning approaches\n\n## Customization\nThis template provides a solid foundation that you can extend by:\n- Tuning the system prompt for your specific use case\n- Adding document metadata like summaries\n- Implementing more advanced RAG techniques\n- Optimizing for larger knowledge bases\n\n---\n\nI do intend on making a local version of this agent very soon!","height":1320,"width":540,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-3840,-140],"typeVersion":1,"id":"b3a28607-3470-436c-9604-ab22d36fa74f","name":"Sticky Note15"},{"parameters":{"method":"POST","url":"https://nca.everydaycreator.org/v1/media/metadata","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"media_url\": \"{{ $('Set File ID1').item.json.file_url }}\",\n  \"job_id\": \"{{ $('Set File ID1').item.json.file_id }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1500,360],"id":"video-metadata-extract","name":"Extract Video Metadata","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"video-width","name":"video_width","value":"={{ $json.width || null }}","type":"number"},{"id":"video-height","name":"video_height","value":"={{ $json.height || null }}","type":"number"},{"id":"video-duration","name":"video_duration","value":"={{ $json.duration || null }}","type":"number"},{"id":"video-resolution","name":"video_resolution","value":"={{ $json.resolution || null }}","type":"string"},{"id":"video-filesize","name":"video_filesize_mb","value":"={{ $json.filesize_mb || null }}","type":"number"},{"id":"video-fps","name":"video_fps","value":"={{ $json.fps || null }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1220,360],"id":"set-video-metadata","name":"Set Video Metadata"},{"parameters":{"content":"## Video Processing Branch","height":300,"width":720,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-1580,240],"typeVersion":1,"id":"video-processing-note","name":"Sticky Note Video"},{"parameters":{"operation":"update","application":"appNYj2qE0Q3XQvyj","table":"Brain Playground","options":{"useFieldIds":false,"typecast":false,"bulkSize":10},"updateColumns":{"mappingMode":"defineBelow","value":{"fldGBFnONhRJhvYHW":"={{ $('Set File ID1').item.json.file_id }}","fldMqXqLdU4GqW4Rg":"={{ $json.video_width }}","fldZnF8qW8WLdK4Rg":"={{ $json.video_height }}"},"matchingColumns":["fldGBFnONhRJhvYHW"],"schema":[{"id":"fldGBFnONhRJhvYHW","displayName":"File ID","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fldMqXqLdU4GqW4Rg","displayName":"Video Width","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"fldZnF8qW8WLdK4Rg","displayName":"Video Height","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false}]}},"type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-940,360],"id":"update-airtable-video","name":"Update Airtable with Video Dimensions","credentials":{"airtableTokenApi":{"id":"airtable-creds","name":"Airtable Credentials"}}}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Get Recordings":{"main":[[{"node":"Only Recording","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"IS TRANSCRIPT?","type":"main","index":0}]]},"Zoom":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Filter","type":"main","index":0}],[{"node":"Get Recordings","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Get Recordings","type":"main","index":0}]]},"IS TRANSCRIPT?":{"main":[[{"node":"Download Transcriptions Files","type":"main","index":0}]]},"Only Recording":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Last Run","type":"main","index":0}]]},"Get Last Run":{"main":[[{"node":"Zoom","type":"main","index":0}]]},"Download Transcriptions Files":{"main":[[{"node":"Text Convert","type":"main","index":0}]]},"Text Convert":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Delete Old Data Rows","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"RAG AI Agent1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader2","type":"ai_textSplitter","index":0}]]},"Summarize":{"main":[[{"node":"Set Schema","type":"main","index":0},{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract from CSV","type":"main","index":0}],[{"node":"Extract Document Text1","type":"main","index":0}],[{"node":"Extract Video Metadata","type":"main","index":0}]]},"Extract Video Metadata":{"main":[[{"node":"Set Video Metadata","type":"main","index":0}]]},"Set Video Metadata":{"main":[[{"node":"Update Airtable with Video Dimensions","type":"main","index":0}]]},"Update Airtable with Video Dimensions":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insert Table Rows","type":"main","index":0}]]},"Set Schema":{"main":[[{"node":"Update Schema for Document Metadata","type":"main","index":0}]]},"Extract from CSV":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insert Table Rows","type":"main","index":0}]]},"Create Document Metadata Table":{"main":[[{"node":"Create Document Rows Table (for Tabular Data)","type":"main","index":0}]]},"List Documents":{"ai_tool":[[{"node":"RAG AI Agent1","type":"ai_tool","index":0}]]},"Get File Contents":{"ai_tool":[[{"node":"RAG AI Agent1","type":"ai_tool","index":0}]]},"Query Document Rows":{"ai_tool":[[{"node":"RAG AI Agent1","type":"ai_tool","index":0}]]},"Supabase Vector Store1":{"ai_tool":[[{"node":"RAG AI Agent1","type":"ai_tool","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Insert into Supabase Vectorstore":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Create Documents Table and Match Function":{"main":[[{"node":"Create Document Metadata Table","type":"main","index":0}]]},"Delete Old Data Rows":{"main":[[{"node":"Insert Document Metadata","type":"main","index":0}]]},"Insert Document Metadata":{"main":[[{"node":"Download File1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"RAG AI Agent1","type":"ai_languageModel","index":0}]]},"Default Data Loader2":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Embeddings OpenAI4":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Download File1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"File Created1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"File Updated1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Extract Document Text1":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"RAG AI Agent1","type":"ai_memory","index":0}]]},"Set File ID1":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"RAG AI Agent1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Set File ID1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"File Created1":[{"json":{"kind":"drive#file","copyRequiresWriterPermission":false,"writersCanShare":true,"viewedByMe":true,"mimeType":"application/vnd.google-apps.spreadsheet","exportLinks":{"application/x-vnd.oasis.opendocument.spreadsheet":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=ods","text/tab-separated-values":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=tsv","application/pdf":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=pdf","application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=xlsx","text/csv":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=csv","application/zip":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=zip","application/vnd.oasis.opendocument.spreadsheet":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=ods"},"parents":["1HtaIIK3kWwjbwhsmEbtJ-upalxVn3Ek9"],"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBO25toxt6RwVPjSmlzZEda-lk4VxRy3zObFMOtcvKSX8m0uyYJAOMHYjIxSVnl6GgWT9QJFzn6oAaUFOPdnWPB89gUcAo5c97K0oNb1vYNFjk5jEOpro51Aa5PYpA=s220","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.spreadsheet","shared":false,"lastModifyingUser":{"displayName":"Cole Medin","kind":"drive#user","me":true,"permissionId":"09805982089636049437","emailAddress":"colemedin@ottomator.ai","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXYQW9sb7WW3wnC-1AVobRmOW6jJVl-c6A8a1Vmfg22B_llKKPYSlKo9UEZvIV23wtXqnJ0dgC56hiJN_z6e2d9S2MdiFDTpg7cyD-gXf1LICu2REL4QH54-MvYmKecDcm4MgnZYSms-X1KpD6seI1pkEehGcRg0NIXn2wGCPicXUZ30K8SFo9PxCr_0NRyR93hQn8hkX3Ml1nBuHIRL4Fvu5MjOvxRJQkqaF9zf0JVyB1LHdV-Ypr87v_B_7hDaJ8Jor2z73LA-rKq_mcU6Ta46Hsm83AnTY3iOJE9WxH2Cd9N795co4COaYL5hHEADdPq_B-OfVcbYNk1kf2qT4Josi_cu1uRGUFnhpBpD5Cu5uy2qD-J8GrMgkKdRKr1S7Z9ZD6bYyb3r3j6s4NHpE_iswHBJh-WfD2fg590TiCs6ciAPbx5769BYDF6Z2hVsCVq0G5bgS3JfbCTVNk8mNCh_4gzyRyfzj38OR0L5Fngv1i8y-HluGNw2k37cyrYu4HunKjMZKy_NsmOTWLITeyU_VoDvH-egUftryYVVCdUn1SEpSjDByjpLmQqCk-Kg3jK-0DGmClkblFw_svgvWUqyoOWMHHpH5fNTLdmPYK6w0Zcft5GXar9bahLAK9IT-epMIFTwnxhQu2yT0cP1I186OoWWUxCapElN_AEJDhibEMLyrHlmJUuhq205dClKGEvXw9D2ejYVpY0xVQ1ZxpKV-QGDTkniAjlWVCRwdaDrgbH3ieKgy5LXj357oCXUwRC-5niqp5MiybN0bN7KUe1zPSJjMDSjIkKcUMd_uAx_hlFkhx_jD0i0IMs3BLQ3OEOLw1IoD2Lol6jBstCUcZFCQrikP7d-nabEX8yDTLfYi9e8sDPp2yNA4pBJfKUm9-AHOAFWZ1BzXJN97RIiTQyKdExCKSz3kPf2lrQyTDVwYkZ75-ZkksHvXoz3kWo3MrAjGl56MxCrOkd88teMhDHq0E=s64"},"owners":[{"displayName":"Cole Medin","kind":"drive#user","me":true,"permissionId":"09805982089636049437","emailAddress":"colemedin@ottomator.ai","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXYQW9sb7WW3wnC-1AVobRmOW6jJVl-c6A8a1Vmfg22B_llKKPYSlKo9UEZvIV23wtXqnJ0dgC56hiJN_z6e2d9S2MdiFDTpg7cyD-gXf1LICu2REL4QH54-MvYmKecDcm4MgnZYSms-X1KpD6seI1pkEehGcRg0NIXn2wGCPicXUZ30K8SFo9PxCr_0NRyR93hQn8hkX3Ml1nBuHIRL4Fvu5MjOvxRJQkqaF9zf0JVyB1LHdV-Ypr87v_B_7hDaJ8Jor2z73LA-rKq_mcU6Ta46Hsm83AnTY3iOJE9WxH2Cd9N795co4COaYL5hHEADdPq_B-OfVcbYNk1kf2qT4Josi_cu1uRGUFnhpBpD5Cu5uy2qD-J8GrMgkKdRKr1S7Z9ZD6bYyb3r3j6s4NHpE_iswHBJh-WfD2fg590TiCs6ciAPbx5769BYDF6Z2hVsCVq0G5bgS3JfbCTVNk8mNCh_4gzyRyfzj38OR0L5Fngv1i8y-HluGNw2k37cyrYu4HunKjMZKy_NsmOTWLITeyU_VoDvH-egUftryYVVCdUn1SEpSjDByjpLmQqCk-Kg3jK-0DGmClkblFw_svgvWUqyoOWMHHpH5fNTLdmPYK6w0Zcft5GXar9bahLAK9IT-epMIFTwnxhQu2yT0cP1I186OoWWUxCapElN_AEJDhibEMLyrHlmJUuhq205dClKGEvXw9D2ejYVpY0xVQ1ZxpKV-QGDTkniAjlWVCRwdaDrgbH3ieKgy5LXj357oCXUwRC-5niqp5MiybN0bN7KUe1zPSJjMDSjIkKcUMd_uAx_hlFkhx_jD0i0IMs3BLQ3OEOLw1IoD2Lol6jBstCUcZFCQrikP7d-nabEX8yDTLfYi9e8sDPp2yNA4pBJfKUm9-AHOAFWZ1BzXJN97RIiTQyKdExCKSz3kPf2lrQyTDVwYkZ75-ZkksHvXoz3kWo3MrAjGl56MxCrOkd88teMhDHq0E=s64"}],"webViewLink":"https://docs.google.com/spreadsheets/d/1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM/edit?usp=drivesdk","size":"1024","viewersCanCopyContent":true,"permissions":[{"id":"09805982089636049437","displayName":"Cole Medin","type":"user","kind":"drive#permission","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjU-zfOspR2RPV0ODNiUMTUKvYDBBCZV-dZusxjov3wKmsVu93G9IfBKLBtQef-ZfzxVCqoc8HAVOEJyVPWiFax-dpQqjp5Bmqnsiestzam2U55u4Y7m3qszgGuIwTYYCQ4-TI6w2ActqiVwzXSrFt8hF5q5UYn1zzHvR8OG1fQHhoxUgOpsSwsylfLh2gRj49gNFuJ0tQZFIT37R0-dsKLjV0DqBDUpqHgP4mnA02dUgy3D9BjshwfHQY-IdWnK1xGTrunpzeHBrIE306eUhHcXaN2D0P8vAdpFRjTKyJMCDVp5ZVMn79MSZwUVbN9TGD_u4DpbXFVB27hi4MjS8mHblF5tJLSKtLs-UW4itcrt-QnUMeHkIEpcly8vsGcuiOmyNHlldsJ79HhOsSPhY9vxvwSpXBOn_9F15_808Om2de0duT2RewGeMlEXXjE0PO456Y4BStBV1uRa3VceZ2l3MgXkbF8BZG_f0DjNrVkW7xqdOHBArDO87vRhEawPlaWPTFw8UX7kGRsV9jIyRuLmvcSINIW2nEuZOXyKFeHR6IfIRIuTk0F7E0qk8WFtQlvVx-a--ELays2G5R1oVqrFst2mbO6U9wQz9Uhz3SDsIh6OB7S0e86x0hkdFS1lbKmxSqpXx-d-kcYuW88etuwSYnoZEQVAs1Vyu_XHYxfMw_nFZ0PTH_LMc9DYINUILulRvuMPq_bfkusoIr4EEyZTGtQVy-4qf01eEgRCG1xGBIN6_6dzyWGZoHdayfSXyDoFfwE2vcWBz30qFeImwis1u67VnbWCyfC0vb8rEScWo19XpyxW81umlcTlOXA8buq7nnD8IgVETwn7islB-mzsjnQOtrjDCOJ4T4KdzYYpM0iWdwSbhu95sDfa2GBeNSM6_shlwwm88V56XEyDZ7t0K52rtgjX7tI9qQg_5uAsQSmUQWwHXs1qLw_0Lm8HJm7NTJey6_uN2pCzhM-eajxl3Gw=s64","emailAddress":"colemedin@ottomator.ai","role":"owner","deleted":false,"pendingOwner":false}],"hasThumbnail":true,"spaces":["drive"],"id":"1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM","name":"Test Sheet #1","starred":false,"trashed":false,"explicitlyTrashed":false,"createdTime":"2025-02-23T17:00:50.000Z","modifiedTime":"2025-02-23T17:43:45.286Z","modifiedByMeTime":"2025-02-23T17:43:45.286Z","viewedByMeTime":"2025-02-23T18:21:12.774Z","quotaBytesUsed":"1024","version":"17","ownedByMe":true,"isAppAuthorized":false,"capabilities":{"canChangeViewersCanCopyContent":true,"canEdit":true,"canCopy":true,"canComment":true,"canAddChildren":false,"canDelete":true,"canDownload":true,"canListChildren":false,"canRemoveChildren":false,"canRename":true,"canTrash":true,"canReadRevisions":true,"canChangeCopyRequiresWriterPermission":true,"canMoveItemIntoTeamDrive":true,"canUntrash":true,"canModifyContent":true,"canMoveItemOutOfDrive":true,"canAddMyDriveParent":false,"canRemoveMyDriveParent":true,"canMoveItemWithinDrive":true,"canShare":true,"canMoveChildrenWithinDrive":false,"canModifyContentRestriction":true,"canChangeSecurityUpdateEnabled":false,"canAcceptOwnership":false,"canReadLabels":false,"canModifyLabels":false,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canRemoveContentRestriction":false,"canDisableInheritedPermissions":false,"canEnableInheritedPermissions":true},"thumbnailVersion":"3","modifiedByMe":true,"permissionIds":["09805982089636049437"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"inheritedPermissionsDisabled":false}},{"json":{"kind":"drive#file","copyRequiresWriterPermission":false,"writersCanShare":true,"viewedByMe":true,"mimeType":"application/vnd.google-apps.spreadsheet","exportLinks":{"application/x-vnd.oasis.opendocument.spreadsheet":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=ods","text/tab-separated-values":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=tsv","application/pdf":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=pdf","application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=xlsx","text/csv":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=csv","application/zip":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=zip","application/vnd.oasis.opendocument.spreadsheet":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=ods"},"parents":["1HtaIIK3kWwjbwhsmEbtJ-upalxVn3Ek9"],"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBO25toxt6RwVPjSmlzZEda-lk4VxRy3zObFMOtcvKSX8m0uyYJAOMHYjIxSVnl6GgWT9QJFzn6oAaUFOPdnWPB89gUcAo5c97K0oNb1vYNFjk5jEOpro51Aa5PYpA=s220","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.spreadsheet","shared":false,"lastModifyingUser":{"displayName":"Cole Medin","kind":"drive#user","me":true,"permissionId":"09805982089636049437","emailAddress":"colemedin@ottomator.ai","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXYQW9sb7WW3wnC-1AVobRmOW6jJVl-c6A8a1Vmfg22B_llKKPYSlKo9UEZvIV23wtXqnJ0dgC56hiJN_z6e2d9S2MdiFDTpg7cyD-gXf1LICu2REL4QH54-MvYmKecDcm4MgnZYSms-X1KpD6seI1pkEehGcRg0NIXn2wGCPicXUZ30K8SFo9PxCr_0NRyR93hQn8hkX3Ml1nBuHIRL4Fvu5MjOvxRJQkqaF9zf0JVyB1LHdV-Ypr87v_B_7hDaJ8Jor2z73LA-rKq_mcU6Ta46Hsm83AnTY3iOJE9WxH2Cd9N795co4COaYL5hHEADdPq_B-OfVcbYNk1kf2qT4Josi_cu1uRGUFnhpBpD5Cu5uy2qD-J8GrMgkKdRKr1S7Z9ZD6bYyb3r3j6s4NHpE_iswHBJh-WfD2fg590TiCs6ciAPbx5769BYDF6Z2hVsCVq0G5bgS3JfbCTVNk8mNCh_4gzyRyfzj38OR0L5Fngv1i8y-HluGNw2k37cyrYu4HunKjMZKy_NsmOTWLITeyU_VoDvH-egUftryYVVCdUn1SEpSjDByjpLmQqCk-Kg3jK-0DGmClkblFw_svgvWUqyoOWMHHpH5fNTLdmPYK6w0Zcft5GXar9bahLAK9IT-epMIFTwnxhQu2yT0cP1I186OoWWUxCapElN_AEJDhibEMLyrHlmJUuhq205dClKGEvXw9D2ejYVpY0xVQ1ZxpKV-QGDTkniAjlWVCRwdaDrgbH3ieKgy5LXj357oCXUwRC-5niqp5MiybN0bN7KUe1zPSJjMDSjIkKcUMd_uAx_hlFkhx_jD0i0IMs3BLQ3OEOLw1IoD2Lol6jBstCUcZFCQrikP7d-nabEX8yDTLfYi9e8sDPp2yNA4pBJfKUm9-AHOAFWZ1BzXJN97RIiTQyKdExCKSz3kPf2lrQyTDVwYkZ75-ZkksHvXoz3kWo3MrAjGl56MxCrOkd88teMhDHq0E=s64"},"owners":[{"displayName":"Cole Medin","kind":"drive#user","me":true,"permissionId":"09805982089636049437","emailAddress":"colemedin@ottomator.ai","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXYQW9sb7WW3wnC-1AVobRmOW6jJVl-c6A8a1Vmfg22B_llKKPYSlKo9UEZvIV23wtXqnJ0dgC56hiJN_z6e2d9S2MdiFDTpg7cyD-gXf1LICu2REL4QH54-MvYmKecDcm4MgnZYSms-X1KpD6seI1pkEehGcRg0NIXn2wGCPicXUZ30K8SFo9PxCr_0NRyR93hQn8hkX3Ml1nBuHIRL4Fvu5MjOvxRJQkqaF9zf0JVyB1LHdV-Ypr87v_B_7hDaJ8Jor2z73LA-rKq_mcU6Ta46Hsm83AnTY3iOJE9WxH2Cd9N795co4COaYL5hHEADdPq_B-OfVcbYNk1kf2qT4Josi_cu1uRGUFnhpBpD5Cu5uy2qD-J8GrMgkKdRKr1S7Z9ZD6bYyb3r3j6s4NHpE_iswHBJh-WfD2fg590TiCs6ciAPbx5769BYDF6Z2hVsCVq0G5bgS3JfbCTVNk8mNCh_4gzyRyfzj38OR0L5Fngv1i8y-HluGNw2k37cyrYu4HunKjMZKy_NsmOTWLITeyU_VoDvH-egUftryYVVCdUn1SEpSjDByjpLmQqCk-Kg3jK-0DGmClkblFw_svgvWUqyoOWMHHpH5fNTLdmPYK6w0Zcft5GXar9bahLAK9IT-epMIFTwnxhQu2yT0cP1I186OoWWUxCapElN_AEJDhibEMLyrHlmJUuhq205dClKGEvXw9D2ejYVpY0xVQ1ZxpKV-QGDTkniAjlWVCRwdaDrgbH3ieKgy5LXj357oCXUwRC-5niqp5MiybN0bN7KUe1zPSJjMDSjIkKcUMd_uAx_hlFkhx_jD0i0IMs3BLQ3OEOLw1IoD2Lol6jBstCUcZFCQrikP7d-nabEX8yDTLfYi9e8sDPp2yNA4pBJfKUm9-AHOAFWZ1BzXJN97RIiTQyKdExCKSz3kPf2lrQyTDVwYkZ75-ZkksHvXoz3kWo3MrAjGl56MxCrOkd88teMhDHq0E=s64"}],"webViewLink":"https://docs.google.com/spreadsheets/d/1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM/edit?usp=drivesdk","size":"1024","viewersCanCopyContent":true,"permissions":[{"id":"09805982089636049437","displayName":"Cole Medin","type":"user","kind":"drive#permission","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjU-zfOspR2RPV0ODNiUMTUKvYDBBCZV-dZusxjov3wKmsVu93G9IfBKLBtQef-ZfzxVCqoc8HAVOEJyVPWiFax-dpQqjp5Bmqnsiestzam2U55u4Y7m3qszgGuIwTYYCQ4-TI6w2ActqiVwzXSrFt8hF5q5UYn1zzHvR8OG1fQHhoxUgOpsSwsylfLh2gRj49gNFuJ0tQZFIT37R0-dsKLjV0DqBDUpqHgP4mnA02dUgy3D9BjshwfHQY-IdWnK1xGTrunpzeHBrIE306eUhHcXaN2D0P8vAdpFRjTKyJMCDVp5ZVMn79MSZwUVbN9TGD_u4DpbXFVB27hi4MjS8mHblF5tJLSKtLs-UW4itcrt-QnUMeHkIEpcly8vsGcuiOmyNHlldsJ79HhOsSPhY9vxvwSpXBOn_9F15_808Om2de0duT2RewGeMlEXXjE0PO456Y4BStBV1uRa3VceZ2l3MgXkbF8BZG_f0DjNrVkW7xqdOHBArDO87vRhEawPlaWPTFw8UX7kGRsV9jIyRuLmvcSINIW2nEuZOXyKFeHR6IfIRIuTk0F7E0qk8WFtQlvVx-a--ELays2G5R1oVqrFst2mbO6U9wQz9Uhz3SDsIh6OB7S0e86x0hkdFS1lbKmxSqpXx-d-kcYuW88etuwSYnoZEQVAs1Vyu_XHYxfMw_nFZ0PTH_LMc9DYINUILulRvuMPq_bfkusoIr4EEyZTGtQVy-4qf01eEgRCG1xGBIN6_6dzyWGZoHdayfSXyDoFfwE2vcWBz30qFeImwis1u67VnbWCyfC0vb8rEScWo19XpyxW81umlcTlOXA8buq7nnD8IgVETwn7islB-mzsjnQOtrjDCOJ4T4KdzYYpM0iWdwSbhu95sDfa2GBeNSM6_shlwwm88V56XEyDZ7t0K52rtgjX7tI9qQg_5uAsQSmUQWwHXs1qLw_0Lm8HJm7NTJey6_uN2pCzhM-eajxl3Gw=s64","emailAddress":"colemedin@ottomator.ai","role":"owner","deleted":false,"pendingOwner":false}],"hasThumbnail":true,"spaces":["drive"],"id":"1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM","name":"Test Sheet #1","starred":false,"trashed":false,"explicitlyTrashed":false,"createdTime":"2025-02-23T17:00:50.000Z","modifiedTime":"2025-02-23T17:43:45.286Z","modifiedByMeTime":"2025-02-23T17:43:45.286Z","viewedByMeTime":"2025-02-23T18:21:12.774Z","quotaBytesUsed":"1024","version":"17","ownedByMe":true,"isAppAuthorized":false,"capabilities":{"canChangeViewersCanCopyContent":true,"canEdit":true,"canCopy":true,"canComment":true,"canAddChildren":false,"canDelete":true,"canDownload":true,"canListChildren":false,"canRemoveChildren":false,"canRename":true,"canTrash":true,"canReadRevisions":true,"canChangeCopyRequiresWriterPermission":true,"canMoveItemIntoTeamDrive":true,"canUntrash":true,"canModifyContent":true,"canMoveItemOutOfDrive":true,"canAddMyDriveParent":false,"canRemoveMyDriveParent":true,"canMoveItemWithinDrive":true,"canShare":true,"canMoveChildrenWithinDrive":false,"canModifyContentRestriction":true,"canChangeSecurityUpdateEnabled":false,"canAcceptOwnership":false,"canReadLabels":false,"canModifyLabels":false,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canRemoveContentRestriction":false,"canDisableInheritedPermissions":false,"canEnableInheritedPermissions":true},"thumbnailVersion":"3","modifiedByMe":true,"permissionIds":["09805982089636049437"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"inheritedPermissionsDisabled":false}}]},"versionId":"968984ae-da98-4137-838f-9d7f485427af","triggerCount":0,"tags":[]}