n8n-workflows/Faceless_Video_Creator.json
{"createdAt":"2025-06-18T14:32:32.123Z","updatedAt":"2025-06-18T14:32:55.000Z","id":"P2O34rdn1KVWGNtT","name":"Faceless VIdeo creator","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.creatomate.com/v1/renders","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR API KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_id\": \"YOUR TEMPLATE ID\",\n  \"modifications\": {\n    \"Music.source\": \"https://drive.google.com/file/d/1wnE7sH3xOV17uytRP1FwN67jlfZuvg2P/view?usp=drive_link\",\n    \"Top-Image-1.source\": \"{{ $json['1.2'] }}\",\n    \"Bottom-Image-1.source\": \"{{ $json['1.1'] }}\",\n    \"Middle-Text-1.text\": \"VS\",\n    \"Full-Background-Image-1.source\": \"{{ $json['1.3'] }}\",\n    \"Top-Image-2.source\": \"{{ $json['2.2'] }}\",\n    \"Bottom-Image-2.source\": \"{{ $json['2.1'] }}\",\n    \"Middle-Text-2.text\": \"VS\",\n    \"Full-Background-Image-2.source\": \"{{ $json['2.3'] }}\",\n    \"Top-Image-3.source\": \"{{ $json['3.2'] }}\",\n    \"Bottom-Image-3.source\": \"{{ $json['3.1'] }}\",\n    \"Middle-Text-3.text\": \"VS\",\n    \"Full-Background-Image-3.source\": \"{{ $json['3.3'] }}\",\n    \"Top-Image-4.source\": \"{{ $json['4.2'] }}\",\n    \"Bottom-Image-4.source\": \"{{ $json['4.1'] }}\",\n    \"Middle-Text-4.text\": \"VS\",\n    \"Full-Background-Image-4.source\": \"{{ $json['4.3'] }}\",\n    \"Top-Image-5.source\": \"{{ $json['5.2'] }}\",\n    \"Bottom-Image-5.source\": \"{{ $json['5.1'] }}\",\n    \"Middle-Text-5.text\": \"VS\",\n    \"Full-Background-Image-5.source\": \"{{ $json['5.3'] }}\",\n    \"Top-Image-6.source\": \"{{ $json['6.2'] }}\",\n    \"Bottom-Image-6.source\": \"{{ $json['6.1'] }}\",\n    \"Middle-Text-6.text\": \"VS\",\n    \"Full-Background-Image-6.source\": \"{{ $json['6.3'] }}\",\n    \"Top-Image-7.source\": \"{{ $json['7.2'] }}\",\n    \"Bottom-Image-7.source\": \"{{ $json['7.1'] }}\",\n    \"Middle-Text-7.text\": \"VS\",\n    \"Full-Background-Image-7.source\": \"{{ $json['7.3'] }}\",\n    \"Top-Image-8.source\": \"{{ $json['8.2'] }}\",\n    \"Bottom-Image-8.source\": \"{{ $json['8.1'] }}\",\n    \"Middle-Text-8.text\": \"VS\",\n    \"Full-Background-Image-8.source\": \"{{ $json['8.3'] }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[920,1240],"id":"5346b922-55c3-47a2-ae8e-33e0d4091ec0","name":"Render Video"},{"parameters":{"documentId":{"__rl":true,"value":"1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U","mode":"list","cachedResultName":"Viral Shorts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"To Do"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[760,140],"id":"47465f2e-4694-4b1d-991a-379bfef73308","name":"Get Main Character"},{"parameters":{"promptType":"define","text":"=Main Character: {{ $json['Main Character'] }}\nOpponents: {{ $json.Opponents }}","hasOutputParser":true,"options":{"systemMessage":"=# Overview\nYou are an AI agent that creates fight scene matchups.\n\n## Instructions\nGiven a main character and a category of opponents, generate a list of eight different opponents from that category. Each opponent should be suitable to fight the main character and come from a different environment, background, or type within the category.\n\nDo not include descriptions, adjectives, or extra context. Only list the opponent names, one per scene, labeled clearly.\n\n## Output Format:\nOnly output the opponent.\n\nScene 1: [Opponent]\nScene 2: [Opponent]\nScene 3: [Opponent]\nScene 4: [Opponent]\nScene 5: [Opponent]\nScene 6: [Opponent]\nScene 7: [Opponent]\nScene 8: [Opponent]\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[920,140],"id":"50b98402-249d-4ab5-b547-c700577ab65f","name":"Scene Creator"},{"parameters":{"model":"openai/gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1880,280],"id":"8b1385ba-2e69-4498-a75b-64c9870249dc","name":"GPT 4.1-mini"},{"parameters":{"promptType":"define","text":"=Main Animal: {{ $json.mainCharacter }}\nOpponent: {{ $json.opponents }}","hasOutputParser":true,"options":{"systemMessage":"=# System Prompt\n\nYou are an AI agent that generates high-quality text-to-image prompts for a photorealistic image generation API.\n\n## Task\nGiven a **main animal** and an **opponent**, generate two separate close-up image prompts optimized for cinematic AI-generated images.\n\n## Output\nOutput two close up prompts. One for the main animal, one for the opponent.\n\nEach prompt must make the animal look:\n- hyper-realistic and photorealistic\n- fierce, angry, intimidating, threatening\n- Focused on high detail: skin/fur/scales, lighting, facial expression, and textures\n- Roaring with mouth wide open\n- Designed to make the animal look powerful, aggressive, and dramatic\n- The animal should be looking into the camera\n\nDo not include any background story, camera specifications, or extra formatting. Only return two clear and vivid text-to-image prompts—one for each animal.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[600,580],"id":"5e0f00ef-c969-4386-8561-0d27abf3e88b","name":"Image Prompt Generator"},{"parameters":{"fieldToSplitOut":"opponents","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1420,240],"id":"d43f533c-1217-4308-a1a6-ce0f77c2438c","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"ca3dc849-efdb-4c9c-9f6a-bff50a66cec6","name":"mainCharacter","value":"={{ $('Get Main Character').item.json['Main Character'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1340,60],"id":"f8c6577a-de4c-46a6-bcde-a4fec26d2bed","name":"Main Character"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1580,140],"id":"ac78fc90-ca62-4d64-8f9a-91bbdc282d04","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"ee009a73-f9e0-48b2-963e-6d88f7b01fce","name":"opponents","value":"=['{{ $json.output.scene1 }}','{{ $json.output.scene2 }}','{{ $json.output.scene3 }}','{{ $json.output.scene4 }}','{{ $json.output.scene5 }}','{{ $json.output.scene6 }}','{{ $json.output.scene7 }}','{{ $json.output.scene8 }}']","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1260,240],"id":"d487387c-ff10-43c5-b856-d6a1e0279c8d","name":"Opponents"},{"parameters":{"jsonSchemaExample":"{\n  \"scene1\": \"Tiger\",\n  \"scene2\": \"Gorilla\",\n  \"scene3\": \"Black Panther\",\n  \"scene4\": \"Buffalo\",\n  \"scene5\": \"Anaconda\",\n  \"scene6\": \"Hyena\",\n  \"scene7\": \"Leopard\",\n  \"scene8\": \"Crocodile\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1960,160],"id":"a18b3eeb-3bf0-4b4b-a9ea-4fcad33bf4a7","name":"Scenes"},{"parameters":{"jsonSchemaExample":"{\n  \"mainCharacterCloseUp\": \"imagePrompt1\",\n  \"opponentCloseUp\": \"imagePrompt2\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1880,520],"id":"2d8aad31-1237-437e-a6f6-8a852df0cbc5","name":"Close Ups"},{"parameters":{"promptType":"define","text":"=Animal 1: {{ $('Merge').item.json.mainCharacter }}\nAnimal 2: {{ $('Merge').item.json.opponents }}","options":{"systemMessage":"=# Overview\nYou are an AI agent that creates text-to-image prompts for a photorealistic image generation API. Your goal is to create a single cinematic scene that shows the aftermath of a battle between two aniamals.\n\n## Task:\nGiven two animals, write one vivid prompt for a photorealistic image that shows the aftermath of a fight. Decide which animal is the winner, it should be realistic based on the strengths of each animal.\n\n## Prompt Guidelines\n1. The winner must be standing on top of the loser in a dominating stance. They should have visible battle scars.\n2. The winner should staring at the camera, roaring, mouth wide open, looking fierce, intimidating, and terrifying.\n3. The loser must appear dead, the word \"lifeless\" should be used. The loser should have visible wounds and battle scars.\n5. Both animal must be clearly visible, with the winner’s dominant stance making it immediately obvious who won the fight.\n6. The image must be photorealistic, with high attention to lighting, textures, and atmosphere. It should clearly display the aftermath of a brutal fight where the loser was injured.\n7. The two animals must be the main focus, filling most of the frame. The background should only enhance the realism and not distract.\n8. Each animal must be visually distinct and easily identifiable based on real-world appearance. The prompt must clearly describe each animal by name and include key traits that help the model render them correctly and differently.\n9. Use species-specific language to avoid confusion. Do not refer to both animals as just “beasts” or “creatures.” Always name them: \"the lion\" and \"the wolf\" — and refer back to them by name in the prompt.\n\n## Output:\nReturn one single paragraph as the final prompt.\n\n## Good Example Image Prompts\n1) In a photorealistic, cinematic scene, a massive polar bear stands triumphantly over the lifeless body of a jaguar in a snow-dusted landscape. The polar bear, its thick white fur spattered with streaks of blood and dust, dominates the frame, towering above the slack, motionless form of the jaguar sprawled beneath its heavy paw. The polar bear’s mouth is wide open in a terrifying roar, sharp teeth glistening, and its dark, fierce eyes stare straight into the camera, exuding raw power and victory. The jaguar’s spotted golden body lies limp and completely still, head tilted to the side, eyes fully closed with no sign of life, jaws parted loosely, and its muscular limbs splayed carelessly on the icy ground. Every detail—from the jaguar’s distinctive rosettes to the polar bear’s thick, textured fur and massive claws—is rendered in sharp, lifelike clarity beneath cold, dramatic lighting, making it unmistakably clear that the polar bear is the fearsome victor of this brutal encounter.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[660,920],"id":"ff8d83d8-6d8a-46bd-afa5-dcece8e95ae5","name":"Winner Image Prompt"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1240,1240],"id":"e8a403b4-af68-44ea-9d58-34da10bc81cb","name":"Get Video"},{"parameters":{"method":"POST","url":"https://api.piapi.ai/api/v1/task","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"model\": \"Qubico/flux1-dev\",\n    \"task_type\": \"txt2img\",\n    \"input\": {\n        \"prompt\": \"{{ $json.output }}\",\n        \"width\": 1024, \n        \"height\": 1024\n    } \n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,580],"id":"a8f1cd65-1641-4bd8-bc6e-dffdba86067e","name":"Generate Close Ups"},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[900,580],"id":"fdae954b-dd8c-433f-8a5a-d91894d34a33","name":"Split Out1"},{"parameters":{"amount":90},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1180,580],"id":"9e7c03ac-3f44-4eb9-b583-9b3fd4996f6e","name":"90 seconds","webhookId":"4d2189e7-aecc-4812-8e55-5f9509b159fc"},{"parameters":{"url":"=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,580],"id":"43950806-3a09-4027-9d5f-bcbba2a282cc","name":"Get Close Ups"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U","mode":"list","cachedResultName":"Viral Shorts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Main Character":"={{ $('Get Main Character').item.json['Main Character'] }}","1.1":"={{ $json.data[0].output.image_url }}","1.2":"={{ $json.data[1].output.image_url }}","2.1":"={{ $json.data[2].output.image_url }}","2.2":"={{ $json.data[3].output.image_url }}","3.1":"={{ $json.data[4].output.image_url }}","3.2":"={{ $json.data[5].output.image_url }}","4.1":"={{ $json.data[6].output.image_url }}","8.2":"={{ $json.data[15].output.image_url }}","8.1":"={{ $json.data[14].output.image_url }}","7.2":"={{ $json.data[13].output.image_url }}","7.1":"={{ $json.data[12].output.image_url }}","6.2":"={{ $json.data[11].output.image_url }}","6.1":"={{ $json.data[10].output.image_url }}","5.2":"={{ $json.data[9].output.image_url }}","5.1":"={{ $json.data[8].output.image_url }}","4.2":"={{ $json.data[7].output.image_url }}"},"matchingColumns":["Main Character"],"schema":[{"id":"Main Character","displayName":"Main Character","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Opponents","displayName":"Opponents","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"1.1","displayName":"1.1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"1.2","displayName":"1.2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"1.3","displayName":"1.3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"2.1","displayName":"2.1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"2.2","displayName":"2.2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"2.3","displayName":"2.3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"3.1","displayName":"3.1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"3.2","displayName":"3.2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"3.3","displayName":"3.3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"4.1","displayName":"4.1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"4.2","displayName":"4.2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"4.3","displayName":"4.3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"5.1","displayName":"5.1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"5.2","displayName":"5.2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"5.3","displayName":"5.3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"6.1","displayName":"6.1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"6.2","displayName":"6.2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"6.3","displayName":"6.3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"7.1","displayName":"7.1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"7.2","displayName":"7.2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"7.3","displayName":"7.3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"8.1","displayName":"8.1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"8.2","displayName":"8.2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"8.3","displayName":"8.3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1600,580],"id":"bf65c4cc-5d26-4523-a4b7-63236105a2aa","name":"Add Close Ups"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"data"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1460,580],"id":"ceb18062-075e-4e44-9f17-a1822604c41d","name":"Aggregate"},{"parameters":{"method":"POST","url":"https://api.piapi.ai/api/v1/task","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"model\": \"Qubico/flux1-dev\",\n    \"task_type\": \"txt2img\",\n    \"input\": {\n        \"prompt\": \"{{ $json.output }}\",\n        \"width\": 540, \n        \"height\": 960\n    } \n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,920],"id":"565c9785-2f99-40a9-a3a0-e664c6d37a89","name":"Generate Scene"},{"parameters":{"url":"=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1240,920],"id":"eb3c2294-cad1-4624-855c-74dd484501bb","name":"Get Winners"},{"parameters":{"amount":90},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1100,920],"id":"c3849c83-ca00-4970-b938-8e33964870d2","name":"90_seconds","webhookId":"4d2189e7-aecc-4812-8e55-5f9509b159fc"},{"parameters":{"model":"openai/gpt-4.1","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1960,400],"id":"edbe1094-1f17-4e3e-8c16-c02761e79f43","name":"GPT 4.1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"data"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1380,920],"id":"d52c4dd1-23d9-43b6-ac3a-952899e5693f","name":"Aggregate1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U","mode":"list","cachedResultName":"Viral Shorts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Main Character":"={{ $('Get Main Character').item.json['Main Character'] }}","1.3":"={{ $json.data[0].output.image_url }}","2.3":"={{ $json.data[1].output.image_url }}","3.3":"={{ $json.data[2].output.image_url }}","4.3":"={{ $json.data[3].output.image_url }}","5.3":"={{ $json.data[4].output.image_url }}","6.3":"={{ $json.data[5].output.image_url }}","7.3":"={{ $json.data[6].output.image_url }}","8.3":"={{ $json.data[7].output.image_url }}"},"matchingColumns":["Main Character"],"schema":[{"id":"Main Character","displayName":"Main Character","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Opponents","displayName":"Opponents","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"1.1","displayName":"1.1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"1.2","displayName":"1.2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"1.3","displayName":"1.3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"2.1","displayName":"2.1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"2.2","displayName":"2.2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"2.3","displayName":"2.3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"3.1","displayName":"3.1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"3.2","displayName":"3.2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"3.3","displayName":"3.3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"4.1","displayName":"4.1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"4.2","displayName":"4.2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"4.3","displayName":"4.3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"5.1","displayName":"5.1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"5.2","displayName":"5.2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"5.3","displayName":"5.3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"6.1","displayName":"6.1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"6.2","displayName":"6.2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"6.3","displayName":"6.3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"7.1","displayName":"7.1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"7.2","displayName":"7.2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"7.3","displayName":"7.3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"8.1","displayName":"8.1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"8.2","displayName":"8.2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"8.3","displayName":"8.3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1520,920],"id":"9908dd65-6af1-44b0-b948-3bf6779082b1","name":"Add Winner"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[600,1240],"id":"5f77c794-5f2d-47c6-93da-dfb7f1138ed6","name":"Merge1"},{"parameters":{"documentId":{"__rl":true,"value":"1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U","mode":"list","cachedResultName":"Viral Shorts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Main Character","lookupValue":"={{ $json['Main Character'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[760,1240],"id":"39af537f-d8d2-41cb-8bb1-b7e6b7f7310d","name":"Get Elements"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U","mode":"list","cachedResultName":"Viral Shorts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ag61Kxk1kqmTj3Q9s1PQU35cme_CTt8xktKBYth7H0U/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Main Character":"={{ $('Get Main Character').item.json['Main Character'] }}","Status":"Created","Final Video":"={{ $json.url }}"},"matchingColumns":["Main Character"],"schema":[{"id":"Main Character","displayName":"Main Character","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Opponents","displayName":"Opponents","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Final Video","displayName":"Final Video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"1.1","displayName":"1.1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"1.2","displayName":"1.2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"1.3","displayName":"1.3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"2.1","displayName":"2.1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"2.2","displayName":"2.2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"2.3","displayName":"2.3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"3.1","displayName":"3.1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"3.2","displayName":"3.2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"3.3","displayName":"3.3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"4.1","displayName":"4.1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"4.2","displayName":"4.2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"4.3","displayName":"4.3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"5.1","displayName":"5.1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"5.2","displayName":"5.2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"5.3","displayName":"5.3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"6.1","displayName":"6.1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"6.2","displayName":"6.2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"6.3","displayName":"6.3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"7.1","displayName":"7.1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"7.2","displayName":"7.2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"7.3","displayName":"7.3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"8.1","displayName":"8.1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"8.2","displayName":"8.2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"8.3","displayName":"8.3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1400,1240],"id":"ad839d7c-3842-425c-9157-b6263830169e","name":"Google Sheets"},{"parameters":{"amount":90},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1080,1240],"id":"1bf17cca-5c13-4f3f-838a-cbbc0614a967","name":"90_Seconds","webhookId":"32dfbb57-d930-4807-922e-78fa7fb72e78"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/media","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $json['Final Video'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,1240],"id":"8ce37226-7f3e-4980-a018-abf5a9fab8ef","name":"Upload to Blotato"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get Main Character').item.json['Main Character'] }} vs {{ $('Get Main Character').item.json.Opponents }}\",\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"account_id\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1920,760],"id":"93936fa1-85b5-48ff-8a88-1fcb43174b3e","name":"Instagram"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"isYourBrand\": false,\n      \"disabledDuet\": false,\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"isAiGenerated\": true,\n      \"disabledStitch\": false,\n      \"disabledComments\": false,\n      \"isBrandedContent\": false\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get Main Character').item.json['Main Character'] }} vs {{ $('Get Main Character').item.json.Opponents }}\",\n      \"platform\": \"tiktok\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"account_id\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1920,1020],"id":"9e7d134f-0d42-466b-9e11-93ebb8db98b9","name":"TikTok"},{"parameters":{"method":"POST","url":"https://backend.blotato.com/v2/posts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"{{ $('Get Main Character').item.json['Main Character'] }} vs {{ $('Get Main Character').item.json.Opponents }}\",\n      \"privacyStatus\": \"unlisted\",\n      \"shouldNotifySubscribers\": false\n    },\n    \"content\": {\n      \"text\": \"text\",\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"account_id\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1920,1280],"id":"58030759-62e6-4604-9d2a-e6f07c60e754","name":"YouTube"},{"parameters":{"content":"# Create Scenes\n\n","height":440,"width":1320,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[480,0],"id":"d58845b7-7a15-4074-ab99-6f3f554896f6","name":"Sticky Note"},{"parameters":{"content":"# Create Close-up Images","height":320,"width":1320,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[480,460],"id":"f8441b7a-215d-4af1-9664-18e8096b07da","name":"Sticky Note1"},{"parameters":{"content":"# Create Winner Images","height":320,"width":1320,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[480,800],"id":"ecc6c389-9c0f-4214-9972-3db8da50bb42","name":"Sticky Note2"},{"parameters":{"content":"# Output Parser & Chat Models\n","height":660,"width":300,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1820,0],"id":"2b4fcfe3-ea8b-4c06-aebe-2ceaf4cdd20d","name":"Sticky Note3"},{"parameters":{"content":"# Render Video","height":300,"width":1320,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[480,1140],"id":"80a445e3-247b-48ae-b553-42e8508873d6","name":"Sticky Note4"},{"parameters":{"content":"# Instagram","height":240,"width":300},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1820,680],"id":"95d9972e-de46-4bae-9031-ba78ce4f2346","name":"Sticky Note5"},{"parameters":{"content":"# TikTok","height":240,"width":300},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1820,940],"id":"bfd0d0bd-0035-4511-a837-1f6ccaf6750d","name":"Sticky Note6"},{"parameters":{"content":"# YouTube\n","height":240,"width":300},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1820,1200],"id":"be14d5a7-7d60-4c0b-a76b-d6539f02a734","name":"Sticky Note7"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[600,140],"id":"664a3364-c70f-47b7-861f-1a83eac6d71d","name":"Schedule Trigger"},{"parameters":{"content":"# 🛠️Setup Guide  \n**Author: [Nate Herk](https://www.youtube.com/@nateherk)**\n\n1. **Make a copy** of this [Google Sheet Template](https://docs.google.com/spreadsheets/d/17bBP-jKvuXOev1jdCr4-eLCqL6uypWUkOGWdVYMF_Po/edit?usp=sharing) and connect it to the five Google Sheet nodes in the workflow.\n\n2. Connect your [OpenRouter](https://openrouter.ai/) API key to the two OpenRouter nodes in the chat model section.\n\n3. Create a [PiAPi](https://piapi.ai/workspace?via=nate) account and connect your API key.\n\n4. Create a [Creatomate](https://creatomate.com/) account and connect your template ID and account ID.  \n   You can duplicate the same template shown in the video by using the source code linked in the same Skool post where you downloaded the workflow.\n\n5. Connect your [Blotato](https://blotato.com/?ref=nate) account and get your API key to enable auto publishing to Instagram, TikTok, and YouTube.\n- promo code \"NATE30\" for 30% off for 6 months","height":460,"width":460},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"c05067ac-54b9-476e-b2b3-e0def4df7619","name":"Sticky Note8"}],"connections":{"Render Video":{"main":[[{"node":"90_Seconds","type":"main","index":0}]]},"Get Main Character":{"main":[[{"node":"Scene Creator","type":"main","index":0}]]},"Scene Creator":{"main":[[{"node":"Opponents","type":"main","index":0},{"node":"Main Character","type":"main","index":0}]]},"GPT 4.1-mini":{"ai_languageModel":[[{"node":"Scene Creator","type":"ai_languageModel","index":0},{"node":"Image Prompt Generator","type":"ai_languageModel","index":0}]]},"Image Prompt Generator":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Main Character":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Image Prompt Generator","type":"main","index":0},{"node":"Winner Image Prompt","type":"main","index":0}]]},"Opponents":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Scenes":{"ai_outputParser":[[{"node":"Scene Creator","type":"ai_outputParser","index":0}]]},"Close Ups":{"ai_outputParser":[[{"node":"Image Prompt Generator","type":"ai_outputParser","index":0}]]},"Winner Image Prompt":{"main":[[{"node":"Generate Scene","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Generate Close Ups","type":"main","index":0}]]},"Generate Close Ups":{"main":[[{"node":"90 seconds","type":"main","index":0}]]},"90 seconds":{"main":[[{"node":"Get Close Ups","type":"main","index":0}]]},"Get Close Ups":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Add Close Ups","type":"main","index":0}]]},"Generate Scene":{"main":[[{"node":"90_seconds","type":"main","index":0}]]},"90_seconds":{"main":[[{"node":"Get Winners","type":"main","index":0}]]},"GPT 4.1":{"ai_languageModel":[[{"node":"Winner Image Prompt","type":"ai_languageModel","index":0}]]},"Get Winners":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Add Winner","type":"main","index":0}]]},"Add Close Ups":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Add Winner":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Get Elements","type":"main","index":0}]]},"Get Elements":{"main":[[{"node":"Render Video","type":"main","index":0}]]},"Get Video":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"90_Seconds":{"main":[[{"node":"Get Video","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Upload to Blotato","type":"main","index":0}]]},"Upload to Blotato":{"main":[[{"node":"Instagram","type":"main","index":0},{"node":"TikTok","type":"main","index":0},{"node":"YouTube","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Main Character","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2bd5c746-cdda-4187-9fed-1ab88a61375d","triggerCount":0,"tags":[]}