n8n/backup/workflows/aQujZaeECl9vOkG9.json
{"createdAt":"2025-06-14T16:49:15.197Z","updatedAt":"2025-06-15T15:17:00.000Z","id":"aQujZaeECl9vOkG9","name":"AI News Data Ingestion","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":4}]},"feedUrl":"https://rss.app/feeds/e2QjBpEDLPfVUeoI.xml"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[60,3120],"id":"b10c7b05-9827-455a-accc-e8d067e82969","name":"the_neuron_trigger"},{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":4}]},"feedUrl":"https://rss.app/feeds/x8T02B3GXYy18pNy.xml"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[60,3340],"id":"d4d01758-3499-46fb-845b-404edfdbeb2e","name":"futurepedia_trigger"},{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":4}]},"feedUrl":"https://rss.app/feeds/3tDyvQwHp8cgL7qs.xml"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[60,3560],"id":"6a106d98-05d6-4826-8ee6-079fa914bf7e","name":"superhuman_trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"RSLaBp8qy2dgXLiw","mode":"list","cachedResultName":"Firecrawl Scrap URL"},"workflowInputs":{"mappingMode":"defineBelow","value":{"url":"={{ $node[\"get_identity\"].json.url }}"},"matchingColumns":["url"],"schema":[{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2340,1720],"id":"804a24ff-0ad6-49e7-a283-68a65fa8da7f","name":"scrape_url","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"promptType":"define","text":"=Given content fetched from a web page, analyze this content to determine if it is a full piece of content that would be considered relevent to our AI Newsletter which features stories, advancements, and other interesting happenings in the tech and AI space.\n\n- Job postings are not relevant content\n- Content centered around unrelated industries is not relevant\n- Only AI and AI Adjacent content should be considered relevant\n\n---\n{{ $json.data.json.content }}","hasOutputParser":true},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[3460,1720],"id":"dd920a1d-d31a-42aa-8805-6794ce277326","name":"evaluate_content"},{"parameters":{"assignments":{"assignments":[{"id":"3261021f-54d8-4cce-a78a-12e40520d2c1","name":"sourceName","value":"the-neuron","type":"string"},{"id":"a7a3c290-4b8c-46e5-a9e2-d7c9c03d3bee","name":"feedType","value":"newsletter","type":"string"},{"id":"efb8285b-9def-4cef-883f-af6fbdafa0c7","name":"feedUrl","value":"https://www.theneurondaily.com/archive","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1180,3120],"id":"d52844be-d558-42d1-884d-f05c8360b215","name":"normalize_neuron"},{"parameters":{"assignments":{"assignments":[{"id":"3261021f-54d8-4cce-a78a-12e40520d2c1","name":"sourceName","value":"futurepedia","type":"string"},{"id":"a7a3c290-4b8c-46e5-a9e2-d7c9c03d3bee","name":"feedType","value":"newsletter","type":"string"},{"id":"efb8285b-9def-4cef-883f-af6fbdafa0c7","name":"feedUrl","value":"https://futurepedia.beehiiv.com/archive","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1180,3340],"id":"14152a04-7c48-4e53-9679-8231ff47f38e","name":"normalize_futurepedia"},{"parameters":{"assignments":{"assignments":[{"id":"3261021f-54d8-4cce-a78a-12e40520d2c1","name":"sourceName","value":"superhuman","type":"string"},{"id":"a7a3c290-4b8c-46e5-a9e2-d7c9c03d3bee","name":"feedType","value":"newsletter","type":"string"},{"id":"efb8285b-9def-4cef-883f-af6fbdafa0c7","name":"feedUrl","value":"https://www.superhuman.ai/archive","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1180,3560],"id":"d80a3dfe-746f-47c1-a208-ae5357ef78b0","name":"normalize_superhuman"},{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":4}]},"feedUrl":"https://rss.app/feeds/Kc554BCmk9PUValj.xml"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[60,2900],"id":"31f23a83-40d8-45c5-b6b3-7e5be6a892d1","name":"the_rundown_ai_trigger"},{"parameters":{"assignments":{"assignments":[{"id":"3261021f-54d8-4cce-a78a-12e40520d2c1","name":"sourceName","value":"the-rundown-ai","type":"string"},{"id":"a7a3c290-4b8c-46e5-a9e2-d7c9c03d3bee","name":"feedType","value":"newsletter","type":"string"},{"id":"efb8285b-9def-4cef-883f-af6fbdafa0c7","name":"feedUrl","value":"https://www.therundown.ai/archive","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1180,2900],"id":"db8d27e5-4446-42b5-9126-2363aa8338f1","name":"normalize_the_rundown_ai"},{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":4}]},"feedUrl":"https://rss.beehiiv.com/feeds/22I6c0vJXV.xml"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[60,3780],"id":"9d3123fa-5348-40e8-ac71-c89905f44270","name":"taaft_trigger"},{"parameters":{"assignments":{"assignments":[{"id":"3261021f-54d8-4cce-a78a-12e40520d2c1","name":"sourceName","value":"taaft","type":"string"},{"id":"a7a3c290-4b8c-46e5-a9e2-d7c9c03d3bee","name":"feedType","value":"newsletter","type":"string"},{"id":"efb8285b-9def-4cef-883f-af6fbdafa0c7","name":"feedUrl","value":"https://newsletter.theresanaiforthat.com/archive","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1180,3780],"id":"626b5465-b699-4cd0-9ae4-f4ca3ed887e0","name":"normalize_taaft"},{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":4}]},"feedUrl":"https://rss.app/feeds/O60XfEFYoxJhYVkS.xml"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[60,2680],"id":"b6ddf928-9835-4693-9ded-ce6608d2d7f3","name":"bens_bites_trigger"},{"parameters":{"assignments":{"assignments":[{"id":"3261021f-54d8-4cce-a78a-12e40520d2c1","name":"sourceName","value":"bens-bites","type":"string"},{"id":"a7a3c290-4b8c-46e5-a9e2-d7c9c03d3bee","name":"feedType","value":"newsletter","type":"string"},{"id":"efb8285b-9def-4cef-883f-af6fbdafa0c7","name":"feedUrl","value":"https://bensbites.beehiiv.com/archive","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1180,2680],"id":"e41edbe8-f1ac-4881-87b0-147e175ab105","name":"normalize_bens_bites"},{"parameters":{"operation":"upload","bucketName":"data-ingestion","fileName":"={{ $('get_identity').item.json.uploadFileName + \".md.temp\" }}","binaryData":false,"fileContent":"={{ $('scrape_url').item.json.data.json.content }}","additionalFields":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[4700,1560],"id":"26405830-bab3-4c8b-9f10-96f1db109d1e","name":"upload_temp_markdown","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"method":"POST","url":"https://api.aitools.inc/admin/files/copy/data-ingestion","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"srcKey\": \"{{ $('get_identity').item.json.uploadFileName + '.md.temp' }}\",\n  \"dstKey\": \"{{ $('get_identity').item.json.uploadFileName + '.md' }}\",\n  \"newContentType\": \"application/vnd.aitools.{{ $('get_identity').item.json.feedType }}+md\",\n  \"newMetadata\": {\n    \"key\": \"{{ $('get_identity').item.json.uploadFileName + '.md' }}\",\n    \"type\": \"{{ $('get_identity').item.json.feedType }}\",\n    \"title\": {{ JSON.stringify($('get_identity').item.json.title) }},\n    \"authors\": {{ JSON.stringify($('get_identity').item.json.authors ?? \"\") }},\n    \"source-name\": \"{{ $('get_identity').item.json.sourceName }}\",\n    \"external-source-urls\": {{ JSON.stringify($('try_extract_external_sources').item.json.output.external_source_urls ?? \"\") }},\n    \"image-urls\": {{ JSON.stringify($('scrape_url').item.json.data.json.main_content_image_urls.join(\",\")) }},\n    \"url\": \"{{ $('get_identity').item.json.url }}\",\n    \"timestamp\": \"{{ $('get_identity').item.json.publishedTimestamp }}\",\n    \"feed-url\": \"{{ $('get_identity').item.json.feedUrl }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4920,1560],"id":"38597600-a3e8-408a-becc-bf5f000eb7f7","name":"copy_markdown","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"2J4PlLjSKKrRWAfK","name":"Placid Personal Project Header Auth account"}}},{"parameters":{"operation":"upload","bucketName":"data-ingestion","fileName":"={{ $('get_identity').item.json.uploadFileName + \".html.temp\" }}","binaryData":false,"fileContent":"={{ $('scrape_url').item.json.data.rawHtml }}","additionalFields":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[4700,1880],"id":"3815b5ea-0878-4338-ac94-94c7c4e42016","name":"upload_temp_html","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5},{"parameters":{"method":"POST","url":"https://api.aitools.inc/admin/files/copy/data-ingestion","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"srcKey\": \"{{ $('get_identity').item.json.uploadFileName + '.html.temp' }}\",\n  \"dstKey\": \"{{ $('get_identity').item.json.uploadFileName + '.html' }}\",\n  \"newContentType\": \"application/vnd.aitools.{{ $('get_identity').item.json.feedType }}.raw+html\",\n  \"newMetadata\": {\n    \"key\": \"{{ $('get_identity').item.json.uploadFileName + '.md' }}\",\n    \"type\": \"{{ $('get_identity').item.json.feedType }}\",\n    \"title\": {{ JSON.stringify($('get_identity').item.json.title) }},\n    \"authors\": {{ JSON.stringify($('get_identity').item.json.authors ?? \"\") }},\n    \"source-name\": \"{{ $('get_identity').item.json.sourceName }}\",\n    \"external-source-urls\": {{ JSON.stringify($('try_extract_external_sources').item.json.output.external_source_urls ?? \"\") }},\n    \"image-urls\": {{ JSON.stringify($('scrape_url').item.json.data.json.main_content_image_urls.join(\",\")) }},\n    \"url\": \"{{ $('get_identity').item.json.url }}\",\n    \"timestamp\": \"{{ $('get_identity').item.json.publishedTimestamp }}\",\n    \"feed-url\": \"{{ $('get_identity').item.json.feedUrl }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4920,1880],"id":"5b609518-b9f8-4eb3-9914-39686e43a590","name":"copy_html","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5},{"parameters":{"operation":"delete","bucketName":"data-ingestion","fileKey":"={{ $('get_identity').item.json.uploadFileName + '.html.temp' }}","options":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[5140,1880],"id":"96356014-93cb-4d1f-b464-83de2b0a5fdb","name":"delete_temp_html","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"operation":"delete","bucketName":"data-ingestion","fileKey":"={{ $('get_identity').item.json.uploadFileName + '.md.temp' }}","options":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[5140,1560],"id":"d924bff0-30fb-4557-a2a1-3548f2a8a0fa","name":"delete_temp_markdown","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[60,2460],"id":"cdbc2ced-6233-48cc-8b12-b6d6bc043170","name":"google_news_trigger"},{"parameters":{"url":"https://rss.app/feeds/v1.1/AkOariu1C7YyUUMv.json","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,2460],"id":"5a61d850-ad57-40aa-a554-262c6472ba1a","name":"fetch_google_news_feed"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const domainSourceMap = {\n  \"engadget.com\": \"engadget\",\n  \"gizmodo.com\": \"gizmodo\",\n  \"techcrunch.com\": \"techcrunch\",\n  \"theverge.com\": \"the-verge\",\n  \"cnbc.com\": \"cnbc\",\n  \"forbes.com\": \"forbes\",\n  \"tradingview.com\": \"trading-view\",\n  \"economist.com\": \"economist\",\n  \"tomshardware.com\": \"toms-hardware\",\n  \"timesofindia.indiatimes.com\": \"times-of-india\",\n  \"seekingalpha.com\": \"seeking-alpha\",\n  \"fool.com\": \"the-motley-fool\",\n  \"sherwood.news\": \"sherwood-news\",\n  \"theregister.com\": \"the-register\",\n  \"yahoo.com\": \"yahoo\",\n  \"finance.yahoo.com\": \"yahoo-finance\",\n  \"venturebeat.com\": \"venture-beat\",\n  \"gurufocus.com\": \"guru-focus\",\n  \"yourstory.com\": \"your-story\",\n  \"theguardian.com\": \"the-guardian\",\n  \"spectrum.ieee.org\": \"spectrum-ieee\",\n  \"nasdaq.com\": \"nasdaq\",\n  \"euractiv.com\": \"euractiv\",\n  \"fortune.com\": \"fortune\",\n  \"indexbox.io\": \"indexbox\",\n  \"phys.org\": \"phys\",\n  \"reuters.com\": \"reuters\",\n  \"bloomberg.com\": \"bloomberg\",\n  \"ign.com\": \"ign\",\n  \"japantimes.co.jp\": \"japan-times\",\n  \"thehindu.com\": \"the-hindu\",\n  \"ft.com\": \"financial-times\",\n  \"nytimes.com\": \"the-new-york-times\",\n  \"aftermath.site\": \"aftermath\",\n  \"computerworld.com\": \"computer-world\",\n  \"business.inquirer.net\": \"business-inquirer\",\n  \"androidpolice.com\": \"android-police\",\n  \"scmp.com\": \"scmp\",\n  \"azure.microsoft.com\": \"microsoft-azure\",\n  \"benzinga.com\": \"benzinga\"\n}\n\n// Use a regex to extract the hostname.\n// The regex breakdown:\n// ^(?:https?:\\/\\/)?  --> Optionally match the protocol (http:// or https://)\n// (?:www\\.)?         --> Optionally match \"www.\"\n// ([^\\/]+)           --> Capture all characters until the first \"/\" (the hostname)\nconst match = $input.item.json.url.match(/^(?:https?:\\/\\/)?(?:www\\.)?([^\\/]+)/i);\n\nif (!match) {\n  throw new Error(\"Unable to regex match url\")\n}\n\nconst domain = match[1];\nlet sourceName = domainSourceMap[domain];\n\nif (!sourceName) {\n  // Fallback: generate a friendly name by removing any leading \"www.\", \n  // then removing the TLD (the last dot segment),\n  // and finally replacing any remaining dots with dashes.\n  sourceName = domain\n    .replace(/^www\\./, '')\n    .replace(/\\.[^.]+$/, '') // removes the TLD\n    .replace(/\\./g, '-');\n}\n\nif (!sourceName) {\n    throw new Error(`Unknown source detected: ${domain}`);\n}\n\nreturn {\n  sourceName: sourceName,\n  title: $input.item.json.title,\n  creator: $input.item.json.authors[0]?.name,\n  link: $input.item.json.url,\n  pubDate: $input.item.json.date_published,\n  isoDate: $input.item.json.date_published,\n  feedType: \"article\",\n  feedUrl: \"https://rss.app/feeds/v1.1/AkOariu1C7YyUUMv.json\"\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,2460],"id":"44cbe44a-182e-449d-b268-8dbc3113df0e","name":"normalize_google_news_articles"},{"parameters":{"assignments":{"assignments":[{"id":"6a082ec0-16b7-4d5b-832d-2609a06fae15","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"6838c8ba-c498-49f5-bb97-bee33f02dd20","name":"url","value":"={{ $json.link }}","type":"string"},{"id":"13967cc2-74e2-445f-b88f-f15405cd89d8","name":"authors","value":"={{ $json.creator }}","type":"string"},{"id":"a33938bc-1743-4e67-bdaf-c4c1d5bc3ce0","name":"date","value":"={{ $json.pubDate }}","type":"string"},{"id":"7edee0aa-3a35-41bf-b616-85246fed3436","name":"publishedTimestamp","value":"={{ $json.isoDate }}","type":"string"},{"id":"a68bb301-94e1-414d-96f8-09f6453b45c1","name":"sourceName","value":"={{ $json.sourceName }}","type":"string"},{"id":"00b19e33-754f-4347-a30a-bb33b3740919","name":"feedType","value":"={{ $json.feedType }}","type":"string"},{"id":"24e1b6dc-81e2-4964-a56c-36ceccd9e1f2","name":"feedUrl","value":"={{ $json.feedUrl }}","type":"string"},{"id":"b287462d-3fad-46a2-bc42-5aa98aa8bde3","name":"uploadFileName","value":"={{ \n  $json.isoDate.substring(0, 10) + \"/\" + \n  $json.title\n    .toLowerCase()\n    .replace(/[^a-z0-9 -]/g, '')  // remove characters outside a-z, 0-9, space, and dash\n    .trim()                      // remove any leading/trailing whitespace\n    .replace(/\\s+/g, '-')        // replace whitespace with dash\n    .replace(/-+/g, '-')         // collapse multiple dashes\n  + '.' + $json.sourceName \n}}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1760,1720],"id":"b99e1944-8123-4bfa-98b0-c2b698783d19","name":"get_identity","alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fbf2844d-f77e-4c7f-a223-42b674d3668c","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2280,2000],"id":"a9453408-f9a2-40f1-8ada-2a8c45384fbf","name":"skip_existing_resources"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[60,2220],"id":"ecf90928-06b9-422b-83fe-e5f8e72a9472","name":"hacker_news_trigger"},{"parameters":{"url":"https://rss.app/feeds/v1.1/jf3MZ9ZlVZhrVEjD.json","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,2220],"id":"af075bf8-68bd-47b7-9277-78d3f0ae8e32","name":"fetch_hacker_news_feed"},{"parameters":{"fieldToSplitOut":"items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[500,2460],"id":"a305d03d-503f-4825-b366-1e72de4464e0","name":"split_google_news_items"},{"parameters":{"fieldToSplitOut":"items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[500,2220],"id":"2e0bf536-223c-47e8-b97e-aa39d65ef43d","name":"split_hacker_news_items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"22197457-7f84-4504-a14f-a5346a80359f","leftValue":"={{ $('evaluate_content').item.json.output.is_revelant_content }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[3940,1720],"id":"00206fea-52ec-4309-aeaf-4accd7404864","name":"ensure_revelant"},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n        \"chainOfThought\": {\n          \"type\": \"string\",\n          \"description\": \"Sequential reasoning to determine if the provided content is a valid and relevant piece of content that an AI or tech enthusiast would be interested in reading and learning about.\"\n        },\n\t\t\"is_revelant_content\": {\n\t\t\t\"type\": \"boolean\",\n            \"description\": \"Indicator if the provided content is relevant piece of content to the AI industry.\"\n\t\t}\n\t}\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[3620,2100],"id":"8abcc0d2-3a59-4f24-9e65-3030450b71ba","name":"is_revelant_content_parser"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Use a regex to extract the hostname.\n// The regex breakdown:\n// ^(?:https?:\\/\\/)?  --> Optionally match the protocol (http:// or https://)\n// (?:www\\.)?         --> Optionally match \"www.\"\n// ([^\\/]+)           --> Capture all characters until the first \"/\" (the hostname)\nconst match = $input.item.json.url.match(/^(?:https?:\\/\\/)?(?:www\\.)?([^\\/]+)/i);\n\nif (!match) {\n  throw new Error(\"Unable to regex match url\")\n}\n\nconst domain = match[1];\nconst sourceName = domain\n  .replace(/^www\\./, '')\n  .replace(/\\.[^.]+$/, '') // removes the TLD\n  .replace(/\\./g, '-');\n\nif (!sourceName) {\n    throw new Error(`Unknown source detected: ${domain}`);\n}\n\nreturn {\n  sourceName: sourceName,\n  title: $input.item.json.title,\n  creator: $input.item.json.authors[0]?.name,\n  link: $input.item.json.url,\n  pubDate: $input.item.json.date_published,\n  isoDate: $input.item.json.date_published,\n  feedType: \"article\",\n  feedUrl: \"https://rss.app/feeds/v1.1/AkOariu1C7YyUUMv.json\"\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,2220],"id":"e93e8808-cc55-4fa9-ad38-1a57ded0e8a2","name":"normalize_hacker_news_articles"},{"parameters":{"text":"=You are given:\n\n1. **Content Website**: The domain hosting the content (e.g., `https://www.bloomberg.com/news/…`).  \n2. **Content Title and Body**: Text or markdown content extracted from a web page.  \n3. **Links Found on Content Page**: A list of hyperlinks that appear in or around the same article or page.\n\n## Your Task\n\n- Identify any **external source links** that are most relevant to the main topic of the content. It is possible there are NOT ANY good external source links.\n- **External** means the link must be on a domain *different* from the Content Website’s domain.\n- **Relevance** means it must directly reference a primary source (e.g., a product announcement, study, press release, etc.) that underpins the main topic.\n- **Exclude** links that are:\n  - On the same domain as the Content Website\n  - Generic homepages, profile pages, or unrelated side links\n  - Not clearly connected to the main focus of the article\n  - To storefront pages like eCommerce sites, to bookstore pages, to direct product listings, or other place to order a product directly.\n  - To shopping websites like bookstores and other retail stores.\n- If one or more valid external links exist, return them in a single comma-separated string as `external_source_urls`.\n- If no external links meet these criteria, omit the `external_source_urls` field entirely.\n\n## Output Format\n\n- Return only the answer in plain text.\n- Either:\n  1. `external_source_urls: <comma-separated list of valid external links>`\n  2. Omit the field if no valid external links exist.\n\n\n## Other Details\nIt is critical that your source link is relevant to the main content and would be useful context to evaluate when writing a newsletter overview about this content targeted towards AI enthusiasts and people interested in the AI space.\n\n---\n\n### Example Scenario\n\nIf the article is focused on an AI breakthrough from OpenAI and there is an external link to an official OpenAI product announcement hosted on openai.com, include that link (since it is on a *different* domain and relevant to the main topic). If all links point to the same domain or are irrelevant, do not return any `external_source_urls`.\n\n---\nContent Website:\n{{ $('scrape_url').item.json.data.metadata.url }}\n\n\nContent Title:\n{{ $('scrape_url').item.json.data.metadata.title }}\n\nContent:\n{{ $('scrape_url').item.json.data.json.content }}\n\nLinks Found on Content Page:\n{{ $('scrape_url').item.json.data.links.map(item => item.split(\"?\")[0]).join(\"\\n\") }}\n","attributes":{"attributes":[{"name":"external_source_urls","description":"Optional comma-separated values list of urls that are external sources referenced on this piece of content. The url here should NOT be on the same domain as the url of the main content piece, it should be an external url meaning another website. Make sure there is NOT a trailing comma after the last value."}]},"options":{"systemPromptTemplate":"You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[4240,1720],"id":"628e3fa1-3a6a-449f-a5c0-d40c4ccfb5f0","name":"try_extract_external_sources","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"model":{"__rl":true,"value":"o3-mini","mode":"list","cachedResultName":"o3-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3860,2100],"id":"14503f25-f24b-4ccf-9af6-90545bbd9504","name":"o3-mini","credentials":{"openAiApi":{"id":"95WHyrHHGXthwzQt","name":"OpenAi account"}}},{"parameters":{"url":"https://rss.app/feeds/v1.1/F3rBf24jLxG6mNoJ.json","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,1980],"id":"953f39ea-15ab-4975-b171-e6a4e37cf92f","name":"fetch_reddit_artificial_inteligence_feed"},{"parameters":{"fieldToSplitOut":"items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[500,1980],"id":"2ac3293c-4173-4c0f-b9e0-e7f97f49cf09","name":"split_reddit_artificial_inteligence_items"},{"parameters":{"operation":"get","subreddit":"ArtificialInteligence","postId":"={{ $json.url.match(/comments\\/([^/]+)/)[1] }}"},"type":"n8n-nodes-base.reddit","typeVersion":1,"position":[720,1980],"id":"cbf0bf61-398b-4227-a52c-5329cf8e335f","name":"get_reddit_artificial_inteligence_items","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"701be722-6eb4-48f5-bc12-ed858a58bce1","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}},{"id":"7e9f6852-ccf6-488e-8019-899aaa1ef6ff","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"79bc5622-4063-48a8-835b-8b45746a7f2e","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"1a4ca682-edac-47b1-8e84-dbaa3f79a819","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"reddit.com","operator":{"type":"string","operation":"notContains"}},{"id":"f29b29c7-d183-450a-b9e6-b02635a2dead","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"youtube.com","operator":{"type":"string","operation":"notContains"}},{"id":"ab07ea23-fe91-4669-8417-396fe65765bf","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"youtu.be","operator":{"type":"string","operation":"notContains"}},{"id":"eb92ce45-bdb8-4e8e-bf6b-d3d27a3d9108","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"x.com","operator":{"type":"string","operation":"notContains"}},{"id":"6f51a62d-08ca-4ef4-abf1-cb29f8b3734e","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"github.com","operator":{"type":"string","operation":"notContains"}},{"id":"5ae77967-31a2-4f52-85c8-ee4b06c86fbf","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"i.redd.it","operator":{"type":"string","operation":"notContains"}},{"id":"264842c1-8d69-4d4e-8c0b-0982cc9db627","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"=v.redd.it","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[940,1980],"id":"ed70f0ad-fefe-4e6c-b506-5ffe17c3f5b2","name":"filter_reddit_artificial_inteligence_items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ecd02ccb-0790-44ab-8bb0-246881e35a20","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"object","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[3220,1720],"id":"a4a71dec-439d-44de-b26b-4fcbc58dcabc","name":"filter_scrape_errors"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Use a regex to extract the hostname.\n// The regex breakdown:\n// ^(?:https?:\\/\\/)?  --> Optionally match the protocol (http:// or https://)\n// (?:www\\.)?         --> Optionally match \"www.\"\n// ([^\\/]+)           --> Capture all characters until the first \"/\" (the hostname)\nconst match = $input.item.json.url.match(/^(?:https?:\\/\\/)?(?:www\\.)?([^\\/]+)/i);\n\nif (!match) {\n  throw new Error(\"Unable to regex match url\")\n}\n\nconst domain = match[1];\nconst sourceName = domain\n  .replace(/^www\\./, '')\n  .replace(/\\.[^.]+$/, '') // removes the TLD\n  .replace(/\\./g, '-');\n\nif (!sourceName) {\n    throw new Error(`Unknown source detected: ${domain}`);\n}\n\nreturn {\n  sourceName: sourceName,\n  title: $input.item.json.title,\n  link: $input.item.json.url,\n  pubDate: new Date($input.item.json.created_utc * 1000).toISOString(),\n  isoDate: new Date($input.item.json.created_utc * 1000).toISOString(),\n  feedType: \"subreddit\",\n  feedUrl: \"https://rss.app/feeds/v1.1/AkOariu1C7YyUUMv.json\"\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,1980],"id":"2a01789a-b334-46ad-b99d-0031878fc54f","name":"normalize_reddit_artificial_inteligence_items"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[60,1980],"id":"0a1e9b7f-31e4-4c4e-a0e4-f8aa826ade79","name":"reddit_artificial_inteligence_trigger"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[60,1720],"id":"2c6a74d4-70f8-4caf-936d-70314599ce93","name":"reddit_open_ai_trigger"},{"parameters":{"url":"https://rss.app/feeds/v1.1/1LDBacY8BC2qJaZh.json","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,1720],"id":"d8a6d1ea-ffaa-4a1b-a891-55f9f6b03cae","name":"fetch_reddit_open_ai_feed"},{"parameters":{"fieldToSplitOut":"items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[500,1720],"id":"ffb62269-1914-434f-8aaa-709926dd6b4b","name":"split_reddit_open_ai_items"},{"parameters":{"operation":"get","subreddit":"OpenAI","postId":"={{ $json.url.match(/comments\\/([^/]+)/)[1] }}"},"type":"n8n-nodes-base.reddit","typeVersion":1,"position":[720,1720],"id":"d8d0f415-bc68-4004-88c8-1a96a7685937","name":"get_reddit_open_ai_items","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9743b6e1-a915-4a5c-b133-1e94d68e060d","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}},{"id":"7e9f6852-ccf6-488e-8019-899aaa1ef6ff","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"79bc5622-4063-48a8-835b-8b45746a7f2e","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"1a4ca682-edac-47b1-8e84-dbaa3f79a819","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"reddit.com","operator":{"type":"string","operation":"notContains"}},{"id":"f29b29c7-d183-450a-b9e6-b02635a2dead","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"youtube.com","operator":{"type":"string","operation":"notContains"}},{"id":"ab07ea23-fe91-4669-8417-396fe65765bf","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"youtu.be","operator":{"type":"string","operation":"notContains"}},{"id":"eb92ce45-bdb8-4e8e-bf6b-d3d27a3d9108","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"x.com","operator":{"type":"string","operation":"notContains"}},{"id":"6f51a62d-08ca-4ef4-abf1-cb29f8b3734e","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"github.com","operator":{"type":"string","operation":"notContains"}},{"id":"3edaa177-9a40-41de-bcc2-fe248a777626","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"i.redd.it","operator":{"type":"string","operation":"notContains"}},{"id":"13ab666b-fcbf-4798-b3f6-f74079b8f6fa","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"v.redd.it","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[940,1720],"id":"47bf914c-1c1e-444c-afcb-0c3e5edfa8c1","name":"filter_reddit_open_ai_items"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Use a regex to extract the hostname.\n// The regex breakdown:\n// ^(?:https?:\\/\\/)?  --> Optionally match the protocol (http:// or https://)\n// (?:www\\.)?         --> Optionally match \"www.\"\n// ([^\\/]+)           --> Capture all characters until the first \"/\" (the hostname)\nconst match = $input.item.json.url.match(/^(?:https?:\\/\\/)?(?:www\\.)?([^\\/]+)/i);\n\nif (!match) {\n  throw new Error(\"Unable to regex match url\")\n}\n\nconst domain = match[1];\nconst sourceName = domain\n  .replace(/^www\\./, '')\n  .replace(/\\.[^.]+$/, '') // removes the TLD\n  .replace(/\\./g, '-');\n\nif (!sourceName) {\n    throw new Error(`Unknown source detected: ${domain}`);\n}\n\nreturn {\n  sourceName: sourceName,\n  title: $input.item.json.title,\n  link: $input.item.json.url,\n  pubDate: new Date($input.item.json.created_utc * 1000).toISOString(),\n  isoDate: new Date($input.item.json.created_utc * 1000).toISOString(),\n  feedType: \"subreddit\",\n  feedUrl: \"https://rss.app/feeds/v1.1/1LDBacY8BC2qJaZh.json\"\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,1720],"id":"354cd4cf-892f-48d3-8ebe-090bdaa49a76","name":"normalize_reddit_open_ai_items"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[60,1460],"id":"332b9793-22b3-4de0-8d60-9121682adc17","name":"reddit_artificial_trigger"},{"parameters":{"url":"https://rss.app/feeds/v1.1/upLgfm9lv7RXwzes.json","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,1460],"id":"a1b325cb-775e-4c29-8b7a-36bcba2e09d7","name":"fetch_reddit_artificial_feed"},{"parameters":{"fieldToSplitOut":"items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[500,1460],"id":"88787886-fe79-43a0-9032-c430fc0a72b4","name":"split_reddit_artificial_items"},{"parameters":{"operation":"get","subreddit":"artificial","postId":"={{ $json.url.match(/comments\\/([^/]+)/)[1] }}"},"type":"n8n-nodes-base.reddit","typeVersion":1,"position":[720,1460],"id":"c0e71463-130d-45bf-9dbb-68d58a385c01","name":"get_reddit_artificial_items","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0c525d94-7ad5-49ef-b5cd-f149992e85cd","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}},{"id":"7e9f6852-ccf6-488e-8019-899aaa1ef6ff","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"79bc5622-4063-48a8-835b-8b45746a7f2e","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"1a4ca682-edac-47b1-8e84-dbaa3f79a819","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"reddit.com","operator":{"type":"string","operation":"notContains"}},{"id":"f29b29c7-d183-450a-b9e6-b02635a2dead","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"youtube.com","operator":{"type":"string","operation":"notContains"}},{"id":"ab07ea23-fe91-4669-8417-396fe65765bf","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"youtu.be","operator":{"type":"string","operation":"notContains"}},{"id":"eb92ce45-bdb8-4e8e-bf6b-d3d27a3d9108","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"x.com","operator":{"type":"string","operation":"notContains"}},{"id":"6f51a62d-08ca-4ef4-abf1-cb29f8b3734e","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"github.com","operator":{"type":"string","operation":"notContains"}},{"id":"3edaa177-9a40-41de-bcc2-fe248a777626","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"i.redd.it","operator":{"type":"string","operation":"notContains"}},{"id":"13ab666b-fcbf-4798-b3f6-f74079b8f6fa","leftValue":"={{ $json.url_overridden_by_dest }}","rightValue":"v.redd.it","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[940,1460],"id":"5a36072c-d78e-4cf0-b716-181143d1f3ca","name":"filter_reddit_artificial_items"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Use a regex to extract the hostname.\n// The regex breakdown:\n// ^(?:https?:\\/\\/)?  --> Optionally match the protocol (http:// or https://)\n// (?:www\\.)?         --> Optionally match \"www.\"\n// ([^\\/]+)           --> Capture all characters until the first \"/\" (the hostname)\nconst match = $input.item.json.url.match(/^(?:https?:\\/\\/)?(?:www\\.)?([^\\/]+)/i);\n\nif (!match) {\n  throw new Error(\"Unable to regex match url\")\n}\n\nconst domain = match[1];\nconst sourceName = domain\n  .replace(/^www\\./, '')\n  .replace(/\\.[^.]+$/, '') // removes the TLD\n  .replace(/\\./g, '-');\n\nif (!sourceName) {\n    throw new Error(`Unknown source detected: ${domain}`);\n}\n\nreturn {\n  sourceName: sourceName,\n  title: $input.item.json.title,\n  link: $input.item.json.url,\n  pubDate: new Date($input.item.json.created_utc * 1000).toISOString(),\n  isoDate: new Date($input.item.json.created_utc * 1000).toISOString(),\n  feedType: \"subreddit\",\n  feedUrl: \"https://rss.app/feeds/v1.1/upLgfm9lv7RXwzes.json\"\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,1460],"id":"77bba343-2386-498b-bd28-eb9058d96c95","name":"normalize_reddit_artificial_items"},{"parameters":{"content":"## Web Content","height":3960,"width":5380,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"6db7e8c0-3845-44e8-befd-3ee49b94c6cb","name":"Sticky Note1"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[60,1220],"id":"0bb8bdfc-4bd5-4883-9f95-e04762eb1442","name":"blog_meta_ai_trigger"},{"parameters":{"url":"https://rss.app/feeds/v1.1/zqVI3dZrdbmZjbR8.json","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,1220],"id":"32e9d664-24c6-4e32-a8d9-c085d514b6e3","name":"fetch_blog_meta_ai_feed"},{"parameters":{"fieldToSplitOut":"items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[500,1220],"id":"6ec99744-3ee6-4709-9f9f-dfdd75e1e602","name":"split_blog_meta_ai_items"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  sourceName: \"blog-meta\",\n  title: $input.item.json.title,\n  creator: $input.item.json.authors[0]?.name,\n  link: $input.item.json.url,\n  pubDate: $input.item.json.date_published,\n  isoDate: $input.item.json.date_published,\n  feedType: \"article\",\n  feedUrl: \"https://rss.app/feeds/v1.1/zqVI3dZrdbmZjbR8.json\"\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,1220],"id":"d0b27e41-c9f5-4dce-a9f7-0ebf2c0f21ff","name":"normalize_blog_meta_ai_articles"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[60,980],"id":"67909296-0e9e-4148-9b63-46bcba9bdcb8","name":"blog_cloudflare_ai_trigger"},{"parameters":{"fieldToSplitOut":"items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[500,980],"id":"b533beb4-21a1-4541-af76-d16ef47aab40","name":"split_blog_cloudflare_ai_items"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  sourceName: \"blog-cloudflare\",\n  title: $input.item.json.title,\n  creator: $input.item.json.authors[0]?.name,\n  link: $input.item.json.url,\n  pubDate: $input.item.json.date_published,\n  isoDate: $input.item.json.date_published,\n  feedType: \"article\",\n  feedUrl: \"https://rss.app/feeds/v1.1/iLzlJfBHVV0phe2n.json\"\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,980],"id":"2e9d17c0-3b4f-4540-bccc-b48aa3f7dc00","name":"normalize_blog_cloudflare_ai_articles"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[60,760],"id":"893856a3-9c5f-41c0-af44-e52aedc9cd28","name":"blog_anthropic_ai_trigger"},{"parameters":{"url":"https://rss.app/feeds/v1.1/iLzlJfBHVV0phe2n.json","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,980],"id":"549b6299-fa91-4a5f-89e2-1a1ed5d85f6c","name":"fetch_blog_cloudflare_ai_feed"},{"parameters":{"url":"https://rss.app/feeds/v1.1/OFdSUsziElw0rkpx.json","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,760],"id":"1005b978-966c-4d22-a5a1-0af93a15c085","name":"fetch_blog_anthropic_ai_feed"},{"parameters":{"fieldToSplitOut":"items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[500,760],"id":"0383e656-d3fb-45ae-8f37-d898d187b024","name":"split_blog_anthropic_ai_items"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  sourceName: \"blog-anthropic\",\n  title: $input.item.json.title,\n  creator: $input.item.json.authors[0]?.name,\n  link: $input.item.json.url,\n  pubDate: $input.item.json.date_published,\n  isoDate: $input.item.json.date_published,\n  feedType: \"article\",\n  feedUrl: \"https://rss.app/feeds/v1.1/OFdSUsziElw0rkpx.json\"\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,760],"id":"dd0bd067-c774-4e0d-a8da-15302d4c0094","name":"normalize_blog_anthropic_ai_articles"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[60,540],"id":"07e1324b-2f1c-4261-8ff6-c48699f28c74","name":"blog_google_ai_trigger"},{"parameters":{"url":"https://rss.app/feeds/v1.1/2CtvCsOtZS35jJgp.json","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,540],"id":"ee8b5d13-8a3e-424f-8610-cd0d6533d1dc","name":"fetch_blog_google_ai_feed"},{"parameters":{"fieldToSplitOut":"items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[500,540],"id":"5b5ffc98-70ad-42b0-803d-f01cfd645e4e","name":"split_blog_google_ai_items"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  sourceName: \"blog-google\",\n  title: $input.item.json.title,\n  creator: $input.item.json.authors[0]?.name,\n  link: $input.item.json.url,\n  pubDate: $input.item.json.date_published,\n  isoDate: $input.item.json.date_published,\n  feedType: \"article\",\n  feedUrl: \"https://rss.app/feeds/v1.1/2CtvCsOtZS35jJgp.json\"\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,540],"id":"299c20f8-e892-41bc-97c2-7d090cec624a","name":"normalize_blog_google_ai_articles"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[60,320],"id":"0efb4c0c-e92c-495d-b952-0fa67bb683ad","name":"blog_open_ai_trigger"},{"parameters":{"url":"https://rss.app/feeds/v1.1/6BnoYYEtnCHXfHj0.json","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,320],"id":"6696694b-68c0-4278-a766-7f0e5b3fde36","name":"fetch_blog_open_ai_feed"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  sourceName: \"blog-open-ai\",\n  title: $input.item.json.title,\n  creator: $input.item.json.authors[0]?.name,\n  link: $input.item.json.url,\n  pubDate: $input.item.json.date_published,\n  isoDate: $input.item.json.date_published,\n  feedType: \"article\",\n  feedUrl: \"https://rss.app/feeds/v1.1/6BnoYYEtnCHXfHj0.json\"\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,320],"id":"f871712f-d0ef-4d70-84bf-6e9637093a51","name":"normalize_blog_open_ai_articles"},{"parameters":{"fieldToSplitOut":"items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[500,320],"id":"3019792f-f298-4a5e-ada7-b811e7bfdcfc","name":"split_blog_open_ai_items"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[60,100],"id":"8af5f573-9ed9-4b8b-a1ed-cb7726f21d64","name":"blog_nvidia_ai_trigger"},{"parameters":{"url":"https://rss.app/feeds/v1.1/rXJrh1u8zDwJLUJK.json","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,100],"id":"dbb79450-a6a5-44f5-b88e-2e4c900f9200","name":"fetch_blog_nvidia_ai_feed"},{"parameters":{"fieldToSplitOut":"items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[500,100],"id":"da1a58da-916c-47f0-af26-51fd98c1877c","name":"split_blog_nvidia_ai_items"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  sourceName: \"blog-nvidia-ai\",\n  title: $input.item.json.title,\n  creator: $input.item.json.authors[0]?.name,\n  link: $input.item.json.url,\n  pubDate: $input.item.json.date_published,\n  isoDate: $input.item.json.date_published,\n  feedType: \"article\",\n  feedUrl: \"https://rss.app/feeds/v1.1/rXJrh1u8zDwJLUJK.json\"\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,100],"id":"47ca7f3c-1e55-4a00-b9e5-e06dd59524c2","name":"normalize_blog_nvidia_ai_articles"},{"parameters":{"amount":180},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2680,2120],"id":"fd68bac5-7d76-42c7-a6e6-25b47808060b","name":"delay","webhookId":"ea003ac0-5583-4e8d-812a-c9dd73c09cf4","disabled":true}],"connections":{"the_neuron_trigger":{"main":[[{"node":"normalize_neuron","type":"main","index":0}]]},"futurepedia_trigger":{"main":[[{"node":"normalize_futurepedia","type":"main","index":0}]]},"superhuman_trigger":{"main":[[{"node":"normalize_superhuman","type":"main","index":0}]]},"scrape_url":{"main":[[{"node":"filter_scrape_errors","type":"main","index":0}]]},"evaluate_content":{"main":[[{"node":"ensure_revelant","type":"main","index":0}]]},"normalize_neuron":{"main":[[{"node":"get_identity","type":"main","index":0}]]},"normalize_futurepedia":{"main":[[{"node":"get_identity","type":"main","index":0}]]},"normalize_superhuman":{"main":[[{"node":"get_identity","type":"main","index":0}]]},"the_rundown_ai_trigger":{"main":[[{"node":"normalize_the_rundown_ai","type":"main","index":0}]]},"normalize_the_rundown_ai":{"main":[[{"node":"get_identity","type":"main","index":0}]]},"taaft_trigger":{"main":[[{"node":"normalize_taaft","type":"main","index":0}]]},"normalize_taaft":{"main":[[{"node":"get_identity","type":"main","index":0}]]},"bens_bites_trigger":{"main":[[{"node":"normalize_bens_bites","type":"main","index":0}]]},"normalize_bens_bites":{"main":[[{"node":"get_identity","type":"main","index":0}]]},"upload_temp_markdown":{"main":[[{"node":"copy_markdown","type":"main","index":0}]]},"upload_temp_html":{"main":[[{"node":"copy_html","type":"main","index":0}]]},"copy_html":{"main":[[{"node":"delete_temp_html","type":"main","index":0}]]},"copy_markdown":{"main":[[{"node":"delete_temp_markdown","type":"main","index":0}]]},"google_news_trigger":{"main":[[{"node":"fetch_google_news_feed","type":"main","index":0}]]},"fetch_google_news_feed":{"main":[[{"node":"split_google_news_items","type":"main","index":0}]]},"get_identity":{"main":[[{"node":"scrape_url","type":"main","index":0}]]},"normalize_google_news_articles":{"main":[[{"node":"get_identity","type":"main","index":0}]]},"skip_existing_resources":{"main":[[]]},"hacker_news_trigger":{"main":[[{"node":"fetch_hacker_news_feed","type":"main","index":0}]]},"split_google_news_items":{"main":[[{"node":"normalize_google_news_articles","type":"main","index":0}]]},"fetch_hacker_news_feed":{"main":[[{"node":"split_hacker_news_items","type":"main","index":0}]]},"ensure_revelant":{"main":[[{"node":"try_extract_external_sources","type":"main","index":0}]]},"is_revelant_content_parser":{"ai_outputParser":[[{"node":"evaluate_content","type":"ai_outputParser","index":0}]]},"split_hacker_news_items":{"main":[[{"node":"normalize_hacker_news_articles","type":"main","index":0}]]},"normalize_hacker_news_articles":{"main":[[{"node":"get_identity","type":"main","index":0}]]},"try_extract_external_sources":{"main":[[{"node":"upload_temp_markdown","type":"main","index":0},{"node":"upload_temp_html","type":"main","index":0}]]},"o3-mini":{"ai_languageModel":[[{"node":"try_extract_external_sources","type":"ai_languageModel","index":0},{"node":"evaluate_content","type":"ai_languageModel","index":0}]]},"fetch_reddit_artificial_inteligence_feed":{"main":[[{"node":"split_reddit_artificial_inteligence_items","type":"main","index":0}]]},"split_reddit_artificial_inteligence_items":{"main":[[{"node":"get_reddit_artificial_inteligence_items","type":"main","index":0}]]},"get_reddit_artificial_inteligence_items":{"main":[[{"node":"filter_reddit_artificial_inteligence_items","type":"main","index":0}]]},"filter_reddit_artificial_inteligence_items":{"main":[[{"node":"normalize_reddit_artificial_inteligence_items","type":"main","index":0}]]},"filter_scrape_errors":{"main":[[{"node":"evaluate_content","type":"main","index":0}]]},"normalize_reddit_artificial_inteligence_items":{"main":[[{"node":"get_identity","type":"main","index":0}]]},"reddit_artificial_inteligence_trigger":{"main":[[{"node":"fetch_reddit_artificial_inteligence_feed","type":"main","index":0}]]},"reddit_open_ai_trigger":{"main":[[{"node":"fetch_reddit_open_ai_feed","type":"main","index":0}]]},"fetch_reddit_open_ai_feed":{"main":[[{"node":"split_reddit_open_ai_items","type":"main","index":0}]]},"split_reddit_open_ai_items":{"main":[[{"node":"get_reddit_open_ai_items","type":"main","index":0}]]},"get_reddit_open_ai_items":{"main":[[{"node":"filter_reddit_open_ai_items","type":"main","index":0}]]},"filter_reddit_open_ai_items":{"main":[[{"node":"normalize_reddit_open_ai_items","type":"main","index":0}]]},"normalize_reddit_open_ai_items":{"main":[[{"node":"get_identity","type":"main","index":0}]]},"reddit_artificial_trigger":{"main":[[{"node":"fetch_reddit_artificial_feed","type":"main","index":0}]]},"fetch_reddit_artificial_feed":{"main":[[{"node":"split_reddit_artificial_items","type":"main","index":0}]]},"split_reddit_artificial_items":{"main":[[{"node":"get_reddit_artificial_items","type":"main","index":0}]]},"get_reddit_artificial_items":{"main":[[{"node":"filter_reddit_artificial_items","type":"main","index":0}]]},"filter_reddit_artificial_items":{"main":[[{"node":"normalize_reddit_artificial_items","type":"main","index":0}]]},"normalize_reddit_artificial_items":{"main":[[{"node":"get_identity","type":"main","index":0}]]},"blog_meta_ai_trigger":{"main":[[{"node":"fetch_blog_meta_ai_feed","type":"main","index":0}]]},"fetch_blog_meta_ai_feed":{"main":[[{"node":"split_blog_meta_ai_items","type":"main","index":0}]]},"split_blog_meta_ai_items":{"main":[[{"node":"normalize_blog_meta_ai_articles","type":"main","index":0}]]},"normalize_blog_meta_ai_articles":{"main":[[{"node":"get_identity","type":"main","index":0}]]},"blog_cloudflare_ai_trigger":{"main":[[{"node":"fetch_blog_cloudflare_ai_feed","type":"main","index":0}]]},"split_blog_cloudflare_ai_items":{"main":[[{"node":"normalize_blog_cloudflare_ai_articles","type":"main","index":0}]]},"normalize_blog_cloudflare_ai_articles":{"main":[[{"node":"get_identity","type":"main","index":0}]]},"blog_anthropic_ai_trigger":{"main":[[{"node":"fetch_blog_anthropic_ai_feed","type":"main","index":0}]]},"fetch_blog_cloudflare_ai_feed":{"main":[[{"node":"split_blog_cloudflare_ai_items","type":"main","index":0}]]},"fetch_blog_anthropic_ai_feed":{"main":[[{"node":"split_blog_anthropic_ai_items","type":"main","index":0}]]},"split_blog_anthropic_ai_items":{"main":[[{"node":"normalize_blog_anthropic_ai_articles","type":"main","index":0}]]},"normalize_blog_anthropic_ai_articles":{"main":[[{"node":"get_identity","type":"main","index":0}]]},"blog_google_ai_trigger":{"main":[[{"node":"fetch_blog_google_ai_feed","type":"main","index":0}]]},"fetch_blog_google_ai_feed":{"main":[[{"node":"split_blog_google_ai_items","type":"main","index":0}]]},"split_blog_google_ai_items":{"main":[[{"node":"normalize_blog_google_ai_articles","type":"main","index":0}]]},"normalize_blog_google_ai_articles":{"main":[[{"node":"get_identity","type":"main","index":0}]]},"blog_open_ai_trigger":{"main":[[{"node":"fetch_blog_open_ai_feed","type":"main","index":0}]]},"fetch_blog_open_ai_feed":{"main":[[{"node":"split_blog_open_ai_items","type":"main","index":0}]]},"split_blog_open_ai_items":{"main":[[{"node":"normalize_blog_open_ai_articles","type":"main","index":0}]]},"normalize_blog_open_ai_articles":{"main":[[{"node":"get_identity","type":"main","index":0}]]},"blog_nvidia_ai_trigger":{"main":[[{"node":"fetch_blog_nvidia_ai_feed","type":"main","index":0}]]},"fetch_blog_nvidia_ai_feed":{"main":[[{"node":"split_blog_nvidia_ai_items","type":"main","index":0}]]},"split_blog_nvidia_ai_items":{"main":[[{"node":"normalize_blog_nvidia_ai_articles","type":"main","index":0}]]},"normalize_blog_nvidia_ai_articles":{"main":[[{"node":"get_identity","type":"main","index":0}]]},"delay":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"de2d2b73-0b78-40bb-9cdc-3fc7b835d43b","triggerCount":0,"tags":[{"createdAt":"2025-06-14T16:48:49.680Z","updatedAt":"2025-06-14T16:48:49.680Z","id":"iwbaZOItdyQEDW53","name":"Entrypoint"}]}