n8n/backup/workflows/bAAc1VOMmjSxN0Gh.json
{"createdAt":"2025-06-09T15:21:58.328Z","updatedAt":"2025-06-09T16:05:06.000Z","id":"bAAc1VOMmjSxN0Gh","name":"Cookier Updater","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"cookie-capture","options":{}},"id":"28161037-785d-4133-8e8e-45f1fb3327a7","name":"Receive Cookies & Trigger","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1320,100],"webhookId":"cookie-capture"},{"parameters":{"jsCode":"// Extract data from webhook body (data is nested in body property)\nconst platform = $input.first().json.body.platform;\nconst userId = $input.first().json.body.user_id;\nconst cookies = $input.first().json.body.cookies;\nconst timestamp = $input.first().json.body.timestamp;\n\nreturn {\n  platform: platform,\n  user_id: userId,\n  cookies: cookies,\n  timestamp: timestamp,\n  // Create a search key for Airtable\n  search_key: `${userId}_${platform}`\n};"},"id":"878485fc-1731-4c70-a86f-883f1bc162b5","name":"Prepare Cookie and user_id","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1100,100]},{"parameters":{"jsCode":"// Clean and format cookies for Netscape format\nlet cookies = $input.first().json.cookies;\n\n// Ensure proper line endings and format\nif (cookies) {\n  // Remove extra whitespace and ensure consistent format\n  cookies = cookies.trim();\n  \n  // Add Netscape header if missing\n  if (!cookies.startsWith('# Netscape HTTP Cookie File')) {\n    cookies = '# Netscape HTTP Cookie File\\n' + cookies;\n  }\n}\n\nreturn {\n  ...$input.first().json,\n  cookies: cookies\n};"},"id":"83d5f369-b83d-4eb7-b841-a5629adcd6c4","name":"Fix Cookie Netscape Format (Mandatory)","type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,100]},{"parameters":{"jsCode":"// Remove any problematic characters or formatting issues\nlet cookies = $input.first().json.cookies;\n\nif (cookies) {\n  // Remove any null bytes or other problematic characters\n  cookies = cookies.replace(/\\0/g, '');\n  \n  // Ensure consistent line endings\n  cookies = cookies.replace(/\\r\\n/g, '\\n').replace(/\\r/g, '\\n');\n  \n  // Remove any trailing whitespace from each line\n  cookies = cookies.split('\\n').map(line => line.trimEnd()).join('\\n');\n}\n\nreturn {\n  ...$input.first().json,\n  cookies: cookies\n};"},"id":"c1d47932-6d46-42de-9f12-150f2a38f3eb","name":"clean_cookie","type":"n8n-nodes-base.code","typeVersion":2,"position":[-660,100]},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appshwJ3YOvcx4occ","mode":"id"},"table":{"__rl":true,"value":"tblA6BiXc1NXmxO9y","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"user_id":"={{ $('clean_cookie').item.json.user_id }}","platform":"={{ $('clean_cookie').item.json.platform }}","cookies":"={{ $('clean_cookie').item.json.cookies }}"},"matchingColumns":[],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"platform","displayName":"platform","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"cookies","displayName":"cookies","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"last_updated","displayName":"last_updated","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"60dfb48d-c5b7-4187-b6c3-66dcc9e23a47","name":"Create New Cookie Record","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-400,100],"credentials":{"airtableTokenApi":{"id":"zf2sMwV8oySLxYta","name":"Airtable Personal Access Token account"}}}],"connections":{"Receive Cookies & Trigger":{"main":[[{"node":"Prepare Cookie and user_id","type":"main","index":0}]]},"Prepare Cookie and user_id":{"main":[[{"node":"Fix Cookie Netscape Format (Mandatory)","type":"main","index":0}]]},"Fix Cookie Netscape Format (Mandatory)":{"main":[[{"node":"clean_cookie","type":"main","index":0}]]},"clean_cookie":{"main":[[{"node":"Create New Cookie Record","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cbce15b9-fbd9-4dd7-a96d-a94af10b28ee","triggerCount":1,"tags":[]}